.ams-background-color-01 .panels-flexible-region {
  padding: 0;
}

.ams-background-color-01 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.ams-background-color-01 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.ams-background-color-01 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.ams-background-color-01 .panels-flexible-column {
  padding: 0;
}

.ams-background-color-01 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.ams-background-color-01 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.ams-background-color-01 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.ams-background-color-01 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.ams-background-color-01 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-ams-background-color-01-main {
  float: left;
  width: 99.0000%;
}

.ams-background-color-01-inside {
  padding-right: 0px;
}

.ams-background-color-01 {
  width: auto;
}

.panels-flexible-region-ams-background-color-01-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-ams-background-color-01-main-row-inside {
  padding-right: 0px;
}

