/* line 3, /var/www/vhosts/fisioterapiasuelopelvico.com/httpdocs/sites/all/themes/multipurpose/scss/variables.scss */
.t-html-cc-ver {
  content: 'Telekom HTML Code Components v2.0'; }

/*
 * Desktops and laptops -----------
 */
/* line 7, sites/all/themes/multipurpose/scss/desktop.scss */
@media only screen  and (min-width : 1224px) {
  /* line 8, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-flex-container {
    display: flex;
    flex-direction: row; }

  /* line 13, sites/all/themes/multipurpose/scss/desktop.scss */
  .page-home .ams-front-panel h2 {
    background-color: #ff8000;
    color: white; }

  /* line 18, sites/all/themes/multipurpose/scss/desktop.scss */
  #wrap {
    margin-top: 20px;
    margin-bottom: 0; }

  /* line 19, sites/all/themes/multipurpose/scss/desktop.scss */
  .page-home .ams-front-panel .pane-content {
    margin: 100px 0 100px 0; }

  /* line 23, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-top-xs {
    padding-top: 4px; }

  /* line 26, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-right-xs {
    padding-right: 4px; }

  /* line 29, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-bottom-xs {
    padding-bottom: 4px; }

  /* line 32, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-left-xs {
    padding-left: 4px; }

  /* line 35, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-xs {
    padding: 4px; }

  /* line 38, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-top-xs {
    margin-top: 4px; }

  /* line 41, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-right-xs {
    margin-right: 4px; }

  /* line 44, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-bottom-xs {
    margin-bottom: 4px; }

  /* line 47, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-left-xs {
    margin-left: 4px; }

  /* line 50, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-xs {
    margin: 4px; }

  /* line 53, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-top-s {
    padding-top: 8px; }

  /* line 56, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-right-s {
    padding-right: 8px; }

  /* line 59, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-bottom-s {
    padding-bottom: 8px; }

  /* line 62, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-left-s {
    padding-left: 8px; }

  /* line 65, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-s {
    padding: 8px; }

  /* line 68, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-top-s {
    margin-top: 8px; }

  /* line 71, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-right-s {
    margin-right: 8px; }

  /* line 74, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-bottom-s {
    margin-bottom: 8px; }

  /* line 77, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-left-s {
    margin-left: 8px; }

  /* line 80, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-s {
    margin: 8px; }

  /* line 83, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-top-m {
    padding-top: 16px; }

  /* line 86, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-right-m {
    padding-right: 16px; }

  /* line 89, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-bottom-m {
    padding-bottom: 16px; }

  /* line 92, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-left-m {
    padding-left: 16px; }

  /* line 95, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-m {
    padding: 16px; }

  /* line 98, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-top-m {
    margin-top: 16px; }

  /* line 101, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-right-m {
    margin-right: 16px; }

  /* line 104, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-bottom-m {
    margin-bottom: 16px; }

  /* line 107, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-left-m {
    margin-left: 16px; }

  /* line 110, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-m {
    margin: 16px; }

  /* line 113, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-top-l {
    padding-top: 24px; }

  /* line 116, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-right-l {
    padding-right: 24px; }

  /* line 119, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-bottom-l {
    padding-bottom: 24px; }

  /* line 122, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-left-l {
    padding-left: 24px; }

  /* line 125, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-l {
    padding: 24px; }

  /* line 128, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-top-l {
    margin-top: 24px; }

  /* line 131, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-right-l {
    margin-right: 24px; }

  /* line 134, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-bottom-l {
    margin-bottom: 24px; }

  /* line 137, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-left-l {
    margin-left: 24px; }

  /* line 140, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-l {
    margin: 24px; }

  /* line 143, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-top-xl {
    padding-top: 32px; }

  /* line 146, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-right-xl {
    padding-right: 32px; }

  /* line 149, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-bottom-xl {
    padding-bottom: 32px; }

  /* line 152, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-left-xl {
    padding-left: 32px; }

  /* line 155, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-xl {
    padding: 32px; }

  /* line 158, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-top-xl {
    margin-top: 32px; }

  /* line 161, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-right-xl {
    margin-right: 32px; }

  /* line 164, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-bottom-xl {
    margin-bottom: 32px; }

  /* line 167, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-left-xl {
    margin-left: 32px; }

  /* line 170, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-xl {
    margin: 32px; }

  /* line 173, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-top-2xl {
    padding-top: 40px; }

  /* line 176, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-right-2xl {
    padding-right: 40px; }

  /* line 179, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-bottom-2xl {
    padding-bottom: 40px; }

  /* line 182, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-left-2xl {
    padding-left: 40px; }

  /* line 185, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-2xl {
    padding: 40px; }

  /* line 188, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-top-2xl {
    margin-top: 40px; }

  /* line 191, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-right-2xl {
    margin-right: 40px; }

  /* line 194, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-bottom-2xl {
    margin-bottom: 40px; }

  /* line 197, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-left-2xl {
    margin-left: 40px; }

  /* line 200, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-2xl {
    margin: 40px; }

  /* line 203, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-top-3xl {
    padding-top: 48px; }

  /* line 206, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-right-3xl {
    padding-right: 48px; }

  /* line 209, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-bottom-3xl {
    padding-bottom: 48px; }

  /* line 212, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-left-3xl {
    padding-left: 48px; }

  /* line 215, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-3xl {
    padding: 48px; }

  /* line 218, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-top-3xl {
    margin-top: 48px; }

  /* line 221, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-right-3xl {
    margin-right: 48px; }

  /* line 224, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-bottom-3xl {
    margin-bottom: 48px; }

  /* line 227, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-left-3xl {
    margin-left: 48px; }

  /* line 230, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-3xl {
    margin: 48px; }

  /* line 233, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-top-4xl {
    padding-top: 56px; }

  /* line 236, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-right-4xl {
    padding-right: 56px; }

  /* line 239, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-bottom-4xl {
    padding-bottom: 56px; }

  /* line 242, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-left-4xl {
    padding-left: 56px; }

  /* line 245, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-4xl {
    padding: 56px; }

  /* line 248, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-top-4xl {
    margin-top: 56px; }

  /* line 251, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-right-4xl {
    margin-right: 56px; }

  /* line 254, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-bottom-4xl {
    margin-bottom: 56px; }

  /* line 257, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-left-4xl {
    margin-left: 56px; }

  /* line 260, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-4xl {
    margin: 56px; }

  /* line 263, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-top-5xl {
    padding-top: 64px; }

  /* line 266, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-right-5xl {
    padding-right: 64px; }

  /* line 269, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-bottom-5xl {
    padding-bottom: 64px; }

  /* line 272, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-left-5xl {
    padding-left: 64px; }

  /* line 275, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-inner-5xl {
    padding: 64px; }

  /* line 278, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-top-5xl {
    margin-top: 64px; }

  /* line 281, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-right-5xl {
    margin-right: 64px; }

  /* line 284, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-bottom-5xl {
    margin-bottom: 64px; }

  /* line 287, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-left-5xl {
    margin-left: 64px; }

  /* line 290, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-space-desktop-outer-5xl {
    margin: 64px; }

  /* line 292, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-inner-top {
    padding-top: 0; }

  /* line 295, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-inner-right {
    padding-right: 0; }

  /* line 298, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-inner-bottom {
    padding-bottom: 0; }

  /* line 301, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-inner-left {
    padding-left: 0; }

  /* line 304, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-inner {
    padding: 0; }

  /* line 307, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-outer-top {
    margin-top: 0; }

  /* line 310, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-outer-right {
    margin-right: 0; }

  /* line 313, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-outer-bottom {
    margin-bottom: 0; }

  /* line 316, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-outer-left {
    margin-left: 0; }

  /* line 319, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-nospace-desktop-outer {
    margin: 0; }

  /* line 324, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-div-half-width {
    width: 50%; }

  /* line 327, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-div-seventy-width {
    width: 70%; }

  /* line 331, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-width-desktop-400 {
    width: 400px; }

  /* line 335, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-height-desktop-400 {
    height: 400px; }

  /* line 339, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-cita-online .pane-content {
    display: flex;
    flex-direction: row;
    justify-content: center; }

  /* line 345, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-cita-online .pane-content .column1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 0 1 25%; }

  /* line 352, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-cita-online .pane-content svg {
    font-size: 200px; }

  /* line 356, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-cita-online .pane-content .column2 {
    flex-direction: column;
    flex: 0 0 45%; }

  /* line 361, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-cita-online h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ff8000; }

  /* line 371, sites/all/themes/multipurpose/scss/desktop.scss */
  div.resumenTexto,
  p.resumenTexto {
    line-height: 1.5em;
    text-align: left;
    font-size: 26px;
    padding: 15px 0;
    border-top: 2px solid #ff8000;
    border-bottom: 2px solid #ff8000;
    margin: 30px 0; }

  /* line 380, sites/all/themes/multipurpose/scss/desktop.scss */
  .curso_title_wrap {
    position: relative; }

  /* line 384, sites/all/themes/multipurpose/scss/desktop.scss */
  .curso_title_wrap .curso_title_0 {
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    top: 6px;
    left: 4px;
    z-index: 9;
    padding: 0 20px;
    font-size: 28px;
    background-color: #ff8000; }

  /* line 396, sites/all/themes/multipurpose/scss/desktop.scss */
  .curso_title_wrap .curso_title {
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    top: 82px;
    z-index: 9;
    padding: 0 20px;
    font-size: 48px; }

  /* line 405, sites/all/themes/multipurpose/scss/desktop.scss */
  .curso_title_wrap .curso_title_2 {
    color: #ff8000; }

  /* line 409, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-info-curso-wrap {
    background-color: #e5f2e7;
    padding: 20px; }

  /* line 413, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-info-curso ul {
    margin: 0; }

  /* line 417, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-desc-curso {
    margin-top: 20px; }

  /* line 422, sites/all/themes/multipurpose/scss/desktop.scss */
  .panel-curso .resp-tab-content,
  .panel-curso .resp-tab-active {
    border: 0; }

  /* line 426, sites/all/themes/multipurpose/scss/desktop.scss */
  .panel-curso .resp-tab-active {
    background-color: #ff8000;
    color: white; }

  /* line 431, sites/all/themes/multipurpose/scss/desktop.scss */
  .panel-curso .resp-tabs-list {
    display: flex;
    background-color: #f4f4f4; }

  /* line 436, sites/all/themes/multipurpose/scss/desktop.scss */
  .panel-curso .item-list ul {
    padding: 0; }

  /*
   * Styles
   */  /* line 442, sites/all/themes/multipurpose/scss/desktop.scss */
  .view-cursos-original .views-row img {
    max-width: 280px; }

  /* line 448, sites/all/themes/multipurpose/scss/desktop.scss */
  .view-cursos-original .curso-wrap > div.curso-details-wrap {
    flex: 1 0 50%; }

  /* line 454, sites/all/themes/multipurpose/scss/desktop.scss */
  .view-curso-row {
    padding: 1px;
    border-radius: 5px;
    background-color: #ff8000; }
    /* line 458, sites/all/themes/multipurpose/scss/desktop.scss */
    .view-curso-row:not(:first-child) {
      margin-top: 60px; }
    /* line 461, sites/all/themes/multipurpose/scss/desktop.scss */
    .view-curso-row .views-field-title a {
      font-size: 20px;
      text-decoration: none; }
    /* line 465, sites/all/themes/multipurpose/scss/desktop.scss */
    .view-curso-row .curso-wrap {
      padding: 20px 20px;
      background-color: white;
      display: flex; }
      /* line 469, sites/all/themes/multipurpose/scss/desktop.scss */
      .view-curso-row .curso-wrap .grid-container {
        display: grid;
        grid-gap: 10px; }
      /* line 474, sites/all/themes/multipurpose/scss/desktop.scss */
      .view-curso-row .curso-wrap .field-foto {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 1;
        grid-column-end: 1;
        order: 1; }
        /* line 480, sites/all/themes/multipurpose/scss/desktop.scss */
        .view-curso-row .curso-wrap .field-foto img {
          margin-bottom: 10px;
          border-radius: 9px; }
      /* line 485, sites/all/themes/multipurpose/scss/desktop.scss */
      .view-curso-row .curso-wrap .botones-cursos {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 2;
        order: 2; }
      /* line 492, sites/all/themes/multipurpose/scss/desktop.scss */
      .view-curso-row .curso-wrap .curso-details-wrap {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 1;
        grid-column-end: 2; }
      /* line 498, sites/all/themes/multipurpose/scss/desktop.scss */
      .view-curso-row .curso-wrap .curso-info-wrap {
        background-color: darkgray;
        padding: 10px;
        border-radius: 9px;
        font-size: 14px;
        max-width: 463px;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 1;
        grid-column-end: 1; }
        /* line 509, sites/all/themes/multipurpose/scss/desktop.scss */
        .view-curso-row .curso-wrap .curso-info-wrap div:not(:first-child) {
          margin-top: 10px; }
        /* line 513, sites/all/themes/multipurpose/scss/desktop.scss */
        .view-curso-row .curso-wrap .curso-info-wrap .views-field-content {
          color: white; }

  /* line 552, sites/all/themes/multipurpose/scss/desktop.scss */
  .pane-preguntas-frecuentes-hombres .views-row {
    background: #007fff;
    padding: 10px;
    color: white;
    position: relative;
        /*
     * width: 200px;
     */
    text-align: left;
    line-height: 40px; }
    /* line 532, sites/all/themes/multipurpose/scss/desktop.scss */
    .pane-preguntas-frecuentes-hombres .views-row:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      left: 100%;
      top: 0;
      border: 30px solid rgba(0, 0, 0, 0);
      border-left: 20px solid #007fff; }
    /* line 542, sites/all/themes/multipurpose/scss/desktop.scss */
    .pane-preguntas-frecuentes-hombres .views-row:not(:first-child) {
      margin-top: 20px; }
    /* line 545, sites/all/themes/multipurpose/scss/desktop.scss */
    .pane-preguntas-frecuentes-hombres .views-row .views-field-title a {
      color: white;
      text-decoration: none; }

  /* line 556, sites/all/themes/multipurpose/scss/desktop.scss */
  .pane-preguntas-frecuentes-mujeres .views-row {
    background: #d4ff00;
    padding: 10px;
    color: white;
    position: relative;
        /*
     * width: 200px;
     */
    text-align: left;
    line-height: 40px; }
    /* line 532, sites/all/themes/multipurpose/scss/desktop.scss */
    .pane-preguntas-frecuentes-mujeres .views-row:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      left: 100%;
      top: 0;
      border: 30px solid rgba(0, 0, 0, 0);
      border-left: 20px solid #d4ff00; }
    /* line 542, sites/all/themes/multipurpose/scss/desktop.scss */
    .pane-preguntas-frecuentes-mujeres .views-row:not(:first-child) {
      margin-top: 20px; }
    /* line 545, sites/all/themes/multipurpose/scss/desktop.scss */
    .pane-preguntas-frecuentes-mujeres .views-row .views-field-title a {
      color: black;
      text-decoration: none; }

  /* line 560, sites/all/themes/multipurpose/scss/desktop.scss */
  .pane-preguntas-frecuentes-ninos .views-row {
    background: #ff0008;
    padding: 10px;
    color: white;
    position: relative;
        /*
     * width: 200px;
     */
    text-align: left;
    line-height: 40px; }
    /* line 532, sites/all/themes/multipurpose/scss/desktop.scss */
    .pane-preguntas-frecuentes-ninos .views-row:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      left: 100%;
      top: 0;
      border: 30px solid rgba(0, 0, 0, 0);
      border-left: 20px solid #ff0008; }
    /* line 542, sites/all/themes/multipurpose/scss/desktop.scss */
    .pane-preguntas-frecuentes-ninos .views-row:not(:first-child) {
      margin-top: 20px; }
    /* line 545, sites/all/themes/multipurpose/scss/desktop.scss */
    .pane-preguntas-frecuentes-ninos .views-row .views-field-title a {
      color: white;
      text-decoration: none; }

  /* line 604, sites/all/themes/multipurpose/scss/desktop.scss */
    /* line 565, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-65 input {
      box-sizing: border-box;
      width: 100%; }
    /* line 569, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-65 textarea {
      overflow: auto; }
    /* line 572, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-65 .form-checkbox {
      width: auto; }
    /* line 575, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-65 .webform-component--nombre {
      margin-top: 30px; }
    /* line 578, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-65 input[type='submit'] {
      border-radius: 5px;
      border: 0;
      color: #ff8000;
      height: 45px;
      font-size: 16px;
      background: #f4f4f4;
      background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
      background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
      background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
      background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
      background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0); }
    /* line 593, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-65 input[type='submit']:hover {
      background-color: #ff8000;
      color: white;
      cursor: pointer; }

  /* line 607, sites/all/themes/multipurpose/scss/desktop.scss */
  .webform-client-form-219 {
    padding: 0 40px;
    background-color: #fcfcfc; }
    /* line 565, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-219 input {
      box-sizing: border-box;
      width: 100%; }
    /* line 569, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-219 textarea {
      overflow: auto; }
    /* line 572, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-219 .form-checkbox {
      width: auto; }
    /* line 575, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-219 .webform-component--nombre {
      margin-top: 30px; }
    /* line 578, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-219 input[type='submit'] {
      border-radius: 5px;
      border: 0;
      color: #ff8000;
      height: 45px;
      font-size: 16px;
      background: #f4f4f4;
      background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
      background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
      background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
      background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
      background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0); }
    /* line 593, sites/all/themes/multipurpose/scss/desktop.scss */
    .webform-client-form-219 input[type='submit']:hover {
      background-color: #ff8000;
      color: white;
      cursor: pointer; }

  /* line 613, sites/all/themes/multipurpose/scss/desktop.scss */
  .consulta.pane-webform {
    padding: 40px 40px;
    background-color: #fcfcfc; }

  /* line 620, sites/all/themes/multipurpose/scss/desktop.scss */
    /* line 621, sites/all/themes/multipurpose/scss/desktop.scss */
    .page-node-65 #footer-wrap {
      position: fixed;
      width: 100%;
      bottom: 0; }

  /* line 631, sites/all/themes/multipurpose/scss/desktop.scss */
  .block-panels-mini-telefono-consulta {
    display: none; }

  /* line 635, sites/all/themes/multipurpose/scss/desktop.scss */
    /* line 636, sites/all/themes/multipurpose/scss/desktop.scss */
    .node-profesor .article.content {
      display: flex; }
      /* line 638, sites/all/themes/multipurpose/scss/desktop.scss */
      .node-profesor .article.content .field-name-field-foto {
        flex: 0 0 auto; }
      /* line 641, sites/all/themes/multipurpose/scss/desktop.scss */
      .node-profesor .article.content:not(:first-child) {
        margin-top: 40px; }
      /* line 644, sites/all/themes/multipurpose/scss/desktop.scss */
      .node-profesor .article.content .group-profesor-nombre-desc {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        flex: 0 0 50%; }
        /* line 649, sites/all/themes/multipurpose/scss/desktop.scss */
        .node-profesor .article.content .group-profesor-nombre-desc .field-name-field-nombre-profesor {
          font-weight: bold; }

  /* line 656, sites/all/themes/multipurpose/scss/desktop.scss */
  body.node-type-article {
    background-color: #eef0f1; }
    /* line 658, sites/all/themes/multipurpose/scss/desktop.scss */
    body.node-type-article #main {
      background-color: #eef0f1; }

  /* line 662, sites/all/themes/multipurpose/scss/desktop.scss */
    /* line 663, sites/all/themes/multipurpose/scss/desktop.scss */
    .main-content .content-wrap {
      padding: 60px;
      border: 1px solid #cccccc;
      border-radius: 5px;
      font-family: 'Helvetica', serif;
      background-color: white; }
    /* line 670, sites/all/themes/multipurpose/scss/desktop.scss */
      /* line 671, sites/all/themes/multipurpose/scss/desktop.scss */
      .main-content .ams_aside .relatedContent,
      .main-content .ams_aside .lastBlogEntries,
      .main-content .ams_aside #block-panels-mini-mini-panel-cursos {
        padding: 20px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-bottom: 20px;
        background-color: #f9fafa; }

  /* line 682, sites/all/themes/multipurpose/scss/desktop.scss */
  .contact_info_wrap {
    background-color: #ff8000;
    font-size: 0.75em;
    color: black;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: flex-end;
    flex: 1 1 auto; }

  /* line 692, sites/all/themes/multipurpose/scss/desktop.scss */

  /* line 695, sites/all/themes/multipurpose/scss/desktop.scss */
  .contact_info ul {
    margin: 0;
    font-family: 'open-sans', sans-serif; }

  /* line 699, sites/all/themes/multipurpose/scss/desktop.scss */
  .contact_info ul li {
    display: inline-block;
    padding: 5px 5px; }

  /* line 704, sites/all/themes/multipurpose/scss/desktop.scss */
  .contact_info ul li .svg-inline--fa {
    padding-right: 5px; }

  /* line 708, sites/all/themes/multipurpose/scss/desktop.scss */
  .contact_info ul li:last-child {
    border-right: none;
    padding-right: 0; }

  /* line 713, sites/all/themes/multipurpose/scss/desktop.scss */
  .site-header {
    display: flex;
    justify-content: space-between;
    background-color: white; }

  /* line 719, sites/all/themes/multipurpose/scss/desktop.scss */
  .site-navigation-wrap {
    display: flex;
    padding-left: 20px;
    align-items: center; }

  /* line 724, sites/all/themes/multipurpose/scss/desktop.scss */
  #preface-wrap {
    margin-bottom: 25px;
    background-color: white; }

  /* line 730, sites/all/themes/multipurpose/scss/desktop.scss */
    /* line 732, sites/all/themes/multipurpose/scss/desktop.scss */
    .view-curso-row .views-field-descripcion,
    .view-curso-row .views-field-custom-message-1 {
      margin-top: 16px; } }

/* line 742, sites/all/themes/multipurpose/scss/desktop.scss */
@media only screen and (max-width: 959px) {
  /* line 744, sites/all/themes/multipurpose/scss/desktop.scss */
  a#navigation-toggle {
    display: block; }

  /* line 745, sites/all/themes/multipurpose/scss/desktop.scss */
  #site-navigation #main-menu > ul {
    display: none; } }

/* line 749, sites/all/themes/multipurpose/scss/desktop.scss */
@media only screen and (min-width: 1200px) {
  /* line 750, sites/all/themes/multipurpose/scss/desktop.scss */
  .ams-flex-container {
    display: flex;
    flex-direction: row; }

  /* line 754, sites/all/themes/multipurpose/scss/desktop.scss */
    /* line 755, sites/all/themes/multipurpose/scss/desktop.scss */
      /* line 756, sites/all/themes/multipurpose/scss/desktop.scss */
      .main-content .content-wrap .page-title {
        font-weight: 800;
        line-height: 60px;
        font-size: 48px; }
    /* line 762, sites/all/themes/multipurpose/scss/desktop.scss */
      /* line 763, sites/all/themes/multipurpose/scss/desktop.scss */
      .main-content .article.content p {
        font-weight: 400;
        line-height: 30px;
        font-size: 20px; }
      /* line 769, sites/all/themes/multipurpose/scss/desktop.scss */
      .main-content .article.content h2 {
        font-weight: 700;
        line-height: 31px;
        font-size: 25px; } }

