/* line 3, /var/www/vhosts/fisioterapiasuelopelvico.com/httpdocs/sites/all/themes/multipurpose/scss/variables.scss */
.t-html-cc-ver {
  content: 'Telekom HTML Code Components v2.0'; }

/*
 * Mobile (Portrait & Landscape)
 * ==================================================
 */
/* line 8, sites/all/themes/multipurpose/scss/mobile.scss */
@media only screen and (max-width: 767px) {
  /* line 9, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-flex-container {
    display: flex;
    flex-direction: column; }

  /* line 13, sites/all/themes/multipurpose/scss/mobile.scss */
  a#navigation-toggle {
    padding-left: 0; }

  /* line 16, sites/all/themes/multipurpose/scss/mobile.scss */
  .page-home h2,
  .article h2 {
    font-size: 24px; }

  /* line 19, sites/all/themes/multipurpose/scss/mobile.scss */
  #logo {
    display: none; }

  /* line 23, sites/all/themes/multipurpose/scss/mobile.scss */
  .home-section-panel .panels-flexible-region .ams-content {
    padding: 0; }

  /* line 27, sites/all/themes/multipurpose/scss/mobile.scss */
  .home-section-panel .panels-flexible-region .ams-content p {
    font-size: 16px; }

  /* line 32, sites/all/themes/multipurpose/scss/mobile.scss */
  .home-section-panel  .ams-header {
    font-size: 24px; }

  /* line 36, sites/all/themes/multipurpose/scss/mobile.scss */
  .home-section-panel img {
    margin: 10px 0; }

  /* line 40, sites/all/themes/multipurpose/scss/mobile.scss */
  .container {
    max-width: 100%;
    width: 100%; }

  /* line 42, sites/all/themes/multipurpose/scss/mobile.scss */
  .sidebar-container,
  .left-content {
    width: 100%; }

  /* line 43, sites/all/themes/multipurpose/scss/mobile.scss */
  .sidebar-container {
    border-top: 10px solid #eeeeee; }

  /* line 44, sites/all/themes/multipurpose/scss/mobile.scss */
  .col {
    width: 100%;
    margin-left: 0;
    margin-bottom: 25px; }

  /* line 45, sites/all/themes/multipurpose/scss/mobile.scss */
  #wrap {
    margin-top: 0;
    margin-bottom: 0; }

  /* line 46, sites/all/themes/multipurpose/scss/mobile.scss */
  #header-social {
    clear: both;
    position: inherit;
    top: auto;
    right: auto;
    margin-top: 20px; }

  /* line 47, sites/all/themes/multipurpose/scss/mobile.scss */
  #mini-panel-spotlight {
    display: none; }

  /* line 49, sites/all/themes/multipurpose/scss/mobile.scss */
  div.resumenTexto.left {
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: left; }

  /* line 52, sites/all/themes/multipurpose/scss/mobile.scss */
  #mini-panel-unidad_suelo_pelvico .textBox.column1 {
    padding: 0; }

  /* line 56, sites/all/themes/multipurpose/scss/mobile.scss */
  div.resumenTexto.right {
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: left; }

  /* line 60, sites/all/themes/multipurpose/scss/mobile.scss */
  #secondary {
    padding-top: 0; }

  /* line 63, sites/all/themes/multipurpose/scss/mobile.scss */
  .container {
    padding: 0 10px !important; }

  /* line 66, sites/all/themes/multipurpose/scss/mobile.scss */
  .container img {
    padding: 0; }

  /* line 70, sites/all/themes/multipurpose/scss/mobile.scss */
  #contacto {
    display: none; }

  /* line 74, sites/all/themes/multipurpose/scss/mobile.scss */
  .quienes-somos-box {
    flex-wrap: wrap; }

  /* line 78, sites/all/themes/multipurpose/scss/mobile.scss */
  .quienes-somos-box .content {
    padding: 0 10px; }

  /* line 81, sites/all/themes/multipurpose/scss/mobile.scss */
  .quienes-somos-box .imgBox {
    margin: auto; }

  /* line 83, sites/all/themes/multipurpose/scss/mobile.scss */
  #mini-panel-cita_online {
    display: none; }

  /* line 84, sites/all/themes/multipurpose/scss/mobile.scss */
  #img-unidad-suelo-pelvico {
    display: none; }

  /* line 85, sites/all/themes/multipurpose/scss/mobile.scss */
  #img-hospital-san-rafael {
    display: none; }

  /* line 87, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-presentacion #mini-panel-presentacion > .panel-panel > div .imgBox {
    width: 50%;
    margin: auto; }

  /* line 93, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-presentacion #mini-panel-presentacion > .panel-panel > div .contentBox {
    width: 100%;
    padding: 0 10px; }

  /* line 98, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-presentacion-nuevo,
  #block-panels-mini-publicidad-curso,
  #block-panels-mini-unidad-suelo-pelvico {
    padding: 0; }

  /* line 103, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-unidad-suelo-pelvico   div .contentBox .textBox {
    padding-right: 0; }

  /* line 106, sites/all/themes/multipurpose/scss/mobile.scss */
  .contact_info_wrap {
    display: none; }

  /* line 111, sites/all/themes/multipurpose/scss/mobile.scss */
  .quienes-somos-presentacion--wrapper {
    padding: 0; }

  /* line 114, sites/all/themes/multipurpose/scss/mobile.scss */
  #mini-panel-cursos_home {
    padding: 30px 0 !important; }

  /* line 118, sites/all/themes/multipurpose/scss/mobile.scss */
  #mini-panel-cursos_home .views-row {
    margin-bottom: 10px; }

  /* line 121, sites/all/themes/multipurpose/scss/mobile.scss */
    /* line 122, sites/all/themes/multipurpose/scss/mobile.scss */
    .panel-three-column-basis-type1 .pane-content .row2 {
      flex-direction: column; } }

/*
 * Mobile (Landscape)
 * ==================================================
 */
/* line 130, sites/all/themes/multipurpose/scss/mobile.scss */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 131, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-flex-container {
    display: flex;
    flex-direction: column; }

  /* line 135, sites/all/themes/multipurpose/scss/mobile.scss */
  .sidr {
    width: 480px; }

  /* line 136, sites/all/themes/multipurpose/scss/mobile.scss */
  .sidr.right {
    right: -480px; }

  /* line 138, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-views-slideshow-block {
    display: none; }

  /* line 140, sites/all/themes/multipurpose/scss/mobile.scss */
  #mini-panel-cita_online {
    display: none; }

  /* line 142, sites/all/themes/multipurpose/scss/mobile.scss */
  #img-hospital-san-rafael {
    display: none; }

  /* line 143, sites/all/themes/multipurpose/scss/mobile.scss */
  #logo {
    display: none; } }

/*
 * Mobile ()
 * ==================================================
 */
/* line 150, sites/all/themes/multipurpose/scss/mobile.scss */
@media only screen and  (max-width: 480px) {
  /* line 151, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-flex-container {
    display: flex;
    flex-direction: column; }

  /* line 155, sites/all/themes/multipurpose/scss/mobile.scss */
  body {
    font-size: 14px; }

  /* line 158, sites/all/themes/multipurpose/scss/mobile.scss */
  #logo {
    display: none; }

  /* line 161, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-top-xs {
    padding-top: 4px; }

  /* line 164, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-right-xs {
    padding-right: 4px; }

  /* line 167, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-bottom-xs {
    padding-bottom: 4px; }

  /* line 170, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-left-xs {
    padding-left: 4px; }

  /* line 173, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-xs {
    padding: 4px; }

  /* line 176, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-top-xs {
    margin-top: 4px; }

  /* line 179, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-right-xs {
    margin-right: 4px; }

  /* line 182, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-bottom-xs {
    margin-bottom: 4px; }

  /* line 185, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-left-xs {
    margin-left: 4px; }

  /* line 188, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-xs {
    margin: 4px; }

  /* line 191, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-top-s {
    padding-top: 8px; }

  /* line 194, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-right-s {
    padding-right: 8px; }

  /* line 197, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-bottom-s {
    padding-bottom: 8px; }

  /* line 200, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-left-s {
    padding-left: 8px; }

  /* line 203, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-s {
    padding: 8px; }

  /* line 206, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-top-s {
    margin-top: 8px; }

  /* line 209, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-right-s {
    margin-right: 8px; }

  /* line 212, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-bottom-s {
    margin-bottom: 8px; }

  /* line 215, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-left-s {
    margin-left: 8px; }

  /* line 218, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-s {
    margin: 8px; }

  /* line 221, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-top-m {
    padding-top: 16px; }

  /* line 224, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-right-m {
    padding-right: 16px; }

  /* line 227, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-bottom-m {
    padding-bottom: 16px; }

  /* line 230, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-left-m {
    padding-left: 16px; }

  /* line 233, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-m {
    padding: 16px; }

  /* line 236, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-top-m {
    margin-top: 16px; }

  /* line 239, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-right-m {
    margin-right: 16px; }

  /* line 242, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-bottom-m {
    margin-bottom: 16px; }

  /* line 245, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-left-m {
    margin-left: 16px; }

  /* line 248, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-m {
    margin: 16px; }

  /* line 251, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-top-l {
    padding-top: 24px; }

  /* line 254, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-right-l {
    padding-right: 24px; }

  /* line 257, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-bottom-l {
    padding-bottom: 24px; }

  /* line 260, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-left-l {
    padding-left: 24px; }

  /* line 263, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-l {
    padding: 24px; }

  /* line 266, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-top-l {
    margin-top: 24px; }

  /* line 269, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-right-l {
    margin-right: 24px; }

  /* line 272, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-bottom-l {
    margin-bottom: 24px; }

  /* line 275, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-left-l {
    margin-left: 24px; }

  /* line 278, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-l {
    margin: 24px; }

  /* line 281, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-top-xl {
    padding-top: 32px; }

  /* line 284, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-right-xl {
    padding-right: 32px; }

  /* line 287, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-bottom-xl {
    padding-bottom: 32px; }

  /* line 290, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-left-xl {
    padding-left: 32px; }

  /* line 293, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-xl {
    padding: 32px; }

  /* line 296, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-top-xl {
    margin-top: 32px; }

  /* line 299, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-right-xl {
    margin-right: 32px; }

  /* line 302, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-bottom-xl {
    margin-bottom: 32px; }

  /* line 305, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-left-xl {
    margin-left: 32px; }

  /* line 308, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-xl {
    margin: 32px; }

  /* line 311, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-top-2xl {
    padding-top: 40px; }

  /* line 314, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-right-2xl {
    padding-right: 40px; }

  /* line 317, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-bottom-2xl {
    padding-bottom: 40px; }

  /* line 320, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-left-2xl {
    padding-left: 40px; }

  /* line 323, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-2xl {
    padding: 40px; }

  /* line 326, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-top-2xl {
    margin-top: 40px; }

  /* line 329, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-right-2xl {
    margin-right: 40px; }

  /* line 332, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-bottom-2xl {
    margin-bottom: 40px; }

  /* line 335, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-left-2xl {
    margin-left: 40px; }

  /* line 338, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-2xl {
    margin: 40px; }

  /* line 341, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-top-3xl {
    padding-top: 48px; }

  /* line 344, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-right-3xl {
    padding-right: 48px; }

  /* line 347, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-bottom-3xl {
    padding-bottom: 48px; }

  /* line 350, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-left-3xl {
    padding-left: 48px; }

  /* line 353, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-3xl {
    padding: 48px; }

  /* line 356, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-top-3xl {
    margin-top: 48px; }

  /* line 359, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-right-3xl {
    margin-right: 48px; }

  /* line 362, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-bottom-3xl {
    margin-bottom: 48px; }

  /* line 365, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-left-3xl {
    margin-left: 48px; }

  /* line 368, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-3xl {
    margin: 48px; }

  /* line 371, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-top-4xl {
    padding-top: 56px; }

  /* line 374, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-right-4xl {
    padding-right: 56px; }

  /* line 377, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-bottom-4xl {
    padding-bottom: 56px; }

  /* line 380, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-left-4xl {
    padding-left: 56px; }

  /* line 383, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-4xl {
    padding: 56px; }

  /* line 386, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-top-4xl {
    margin-top: 56px; }

  /* line 389, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-right-4xl {
    margin-right: 56px; }

  /* line 392, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-bottom-4xl {
    margin-bottom: 56px; }

  /* line 395, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-left-4xl {
    margin-left: 56px; }

  /* line 398, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-4xl {
    margin: 56px; }

  /* line 401, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-top-5xl {
    padding-top: 64px; }

  /* line 404, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-right-5xl {
    padding-right: 64px; }

  /* line 407, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-bottom-5xl {
    padding-bottom: 64px; }

  /* line 410, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-left-5xl {
    padding-left: 64px; }

  /* line 413, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-inner-5xl {
    padding: 64px; }

  /* line 416, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-top-5xl {
    margin-top: 64px; }

  /* line 419, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-right-5xl {
    margin-right: 64px; }

  /* line 422, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-bottom-5xl {
    margin-bottom: 64px; }

  /* line 425, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-left-5xl {
    margin-left: 64px; }

  /* line 428, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-space-mobile-outer-5xl {
    margin: 64px; }

  /* line 430, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-inner-top {
    padding-top: 0; }

  /* line 433, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-inner-right {
    padding-right: 0; }

  /* line 436, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-inner-bottom {
    padding-bottom: 0; }

  /* line 439, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-inner-left {
    padding-left: 0; }

  /* line 442, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-inner {
    padding: 0; }

  /* line 445, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-outer-top {
    margin-top: 0; }

  /* line 448, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-outer-right {
    margin-right: 0; }

  /* line 451, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-outer-bottom {
    margin-bottom: 0; }

  /* line 454, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-outer-left {
    margin-left: 0; }

  /* line 457, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-nospace-mobile-outer {
    margin: 0; }

  /* line 459, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-margin-mobile-auto {
    margin: auto; }

  /* line 462, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-width-mobile-full {
    width: 100%; }

  /* line 466, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-height-mobile-auto {
    height: auto; }

  /* line 470, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-flex-mobile-justify-space-between {
    justify-content: space-between; }

  /* line 474, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-flex-mobile-justify-center {
    justify-content: center; }
    /* line 476, sites/all/themes/multipurpose/scss/mobile.scss */
    .ams-flex-mobile-justify-center .pane-content {
      justify-content: center !important; }

  /* line 481, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-cita-online h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ff8000; }

  /* line 488, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-cita-online .pane-content {
    display: flex;
    flex-direction: column; }

  /* line 493, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-cita-online .pane-content .column1 {
    display: flex;
    justify-content: center;
    align-items: center; }

  /* line 500, sites/all/themes/multipurpose/scss/mobile.scss */
  .ams-cita-online .pane-content svg {
    font-size: 100px; }

  /* line 504, sites/all/themes/multipurpose/scss/mobile.scss */

  /* line 507, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-views-slideshow-block {
    display: none; }

  /* line 510, sites/all/themes/multipurpose/scss/mobile.scss */
    /* line 512, sites/all/themes/multipurpose/scss/mobile.scss */

  /* line 520, sites/all/themes/multipurpose/scss/mobile.scss */
    /* line 522, sites/all/themes/multipurpose/scss/mobile.scss */
     {
      flex-direction: column; }
    /* line 527, sites/all/themes/multipurpose/scss/mobile.scss */
     {
      padding: 10px 0; }
    /* line 531, sites/all/themes/multipurpose/scss/mobile.scss */
     {
      padding-top: 0; }
    /* line 535, sites/all/themes/multipurpose/scss/mobile.scss */

  /* line 541, sites/all/themes/multipurpose/scss/mobile.scss */
    /* line 543, sites/all/themes/multipurpose/scss/mobile.scss */
    .panel-two-column-2-1-reversed .pane-content {
      flex-direction: column-reverse; }

  /* line 550, sites/all/themes/multipurpose/scss/mobile.scss */
  #footer-block-wrap .footer-block {
    justify-content: left; }

  /* line 556, sites/all/themes/multipurpose/scss/mobile.scss */
  .container {
    padding: 0 10px !important; }

  /* line 560, sites/all/themes/multipurpose/scss/mobile.scss */
  .panel-pane.page_cursos_introduction {
    line-height: 1.8em; }

  /* line 563, sites/all/themes/multipurpose/scss/mobile.scss */
  .view-cursos-original {
    padding: 0; }

  /* line 566, sites/all/themes/multipurpose/scss/mobile.scss */

  /* line 571, sites/all/themes/multipurpose/scss/mobile.scss */
  .btn-inscripcion {
    padding: 10px 0; }

  /* line 574, sites/all/themes/multipurpose/scss/mobile.scss */
  .curso-details-wrap {
    font-size: 14px; }

  /* line 577, sites/all/themes/multipurpose/scss/mobile.scss */
  .view-cursos-original .curso-info-wrap {
    padding: 0 0 30px 0;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: darkgray;
    margin-bottom: 20px; }

  /* line 585, sites/all/themes/multipurpose/scss/mobile.scss */
  .view-cursos-original .curso-info-wrap .views-field-content {
    color: white; }

  /* line 591, sites/all/themes/multipurpose/scss/mobile.scss */
  .views-field-sede,
  .views-field-descripcion,
  .view-field-fechas,
  .view-field-duracion {
    font-size: 14px; }

  /* line 594, sites/all/themes/multipurpose/scss/mobile.scss */
  .view-cursos-original .views-field-descripcion {
    padding-top: 0; }

  /* line 597, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-presentacion #mini-panel-presentacion > .panel-panel > div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }

  /* line 603, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-presentacion #mini-panel-presentacion > .panel-panel > div .imgBox {
    width: 50%;
    margin: auto; }

  /* line 608, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-presentacion #mini-panel-presentacion > .panel-panel > div .contentBox {
    width: 100%;
    padding: 10px; }

  /* line 612, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-presentacion {
    padding: 0 10px 10px 10px;
    background-color: #f4f4f4; }

  /* line 616, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-presentacion .content {
    box-shadow: none;
    padding: 10px 10px; }

  /* line 621, sites/all/themes/multipurpose/scss/mobile.scss */
  #block-panels-mini-presentacion h2 {
    padding: 0; }

  /* line 625, sites/all/themes/multipurpose/scss/mobile.scss */
  #mini-panel-presentacion_nuevo .contentBox .textBox.column1,
  #mini-panel-presentacion_nuevo .contentBox .textBox.column2 {
    padding: 0; }

  /* line 628, sites/all/themes/multipurpose/scss/mobile.scss */
  #mini-panel-presentacion_nuevo .contentBox  .first-row .textBox p:last-child {
    margin-bottom: 0; }

  /* line 631, sites/all/themes/multipurpose/scss/mobile.scss */
  .block-panels-mini-telefono-consulta {
    text-align: center; }

  /* line 635, sites/all/themes/multipurpose/scss/mobile.scss */
  .flexslider .embedded-video {
    max-height: 329px; }

  /* line 639, sites/all/themes/multipurpose/scss/mobile.scss */
  .flexslider .embedded-video iframe {
    max-height: 327px; }

  /* line 642, sites/all/themes/multipurpose/scss/mobile.scss */
  .views-field-field-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

  /* line 650, sites/all/themes/multipurpose/scss/mobile.scss */
  .view-curso-row:not(:first-child) {
    margin-top: 10px; }

  /* line 654, sites/all/themes/multipurpose/scss/mobile.scss */
  .view-curso-row {
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 5px; }
    /* line 659, sites/all/themes/multipurpose/scss/mobile.scss */
    .view-curso-row .views-field-label {
      font-weight: bold; }
    /* line 663, sites/all/themes/multipurpose/scss/mobile.scss */
    .view-curso-row .curso-info-wrap,
    .view-curso-row .views-field-title,
    .view-curso-row .views-field-descripcion,
    .view-curso-row .views-field-custom-message-1 {
      margin-top: 16px; } }

/* line 696, sites/all/themes/multipurpose/scss/mobile.scss */
.pane-preguntas-frecuentes-hombres .views-row {
  background: #007fff;
  padding: 10px;
  color: white;
  position: relative;
    /*
   * width: 200px;
   */
  text-align: left;
  line-height: 40px; }
  /* line 686, sites/all/themes/multipurpose/scss/mobile.scss */
  .pane-preguntas-frecuentes-hombres .views-row:not(:first-child) {
    margin-top: 20px; }
  /* line 689, sites/all/themes/multipurpose/scss/mobile.scss */
  .pane-preguntas-frecuentes-hombres .views-row .views-field-title a {
    color: white;
    text-decoration: none; }

/* line 700, sites/all/themes/multipurpose/scss/mobile.scss */
.pane-preguntas-frecuentes-mujeres .views-row {
  background: #d4ff00;
  padding: 10px;
  color: white;
  position: relative;
    /*
   * width: 200px;
   */
  text-align: left;
  line-height: 40px; }
  /* line 686, sites/all/themes/multipurpose/scss/mobile.scss */
  .pane-preguntas-frecuentes-mujeres .views-row:not(:first-child) {
    margin-top: 20px; }
  /* line 689, sites/all/themes/multipurpose/scss/mobile.scss */
  .pane-preguntas-frecuentes-mujeres .views-row .views-field-title a {
    color: black;
    text-decoration: none; }

/* line 704, sites/all/themes/multipurpose/scss/mobile.scss */
.pane-preguntas-frecuentes-ninos .views-row {
  background: #ff0008;
  padding: 10px;
  color: white;
  position: relative;
    /*
   * width: 200px;
   */
  text-align: left;
  line-height: 40px; }
  /* line 686, sites/all/themes/multipurpose/scss/mobile.scss */
  .pane-preguntas-frecuentes-ninos .views-row:not(:first-child) {
    margin-top: 20px; }
  /* line 689, sites/all/themes/multipurpose/scss/mobile.scss */
  .pane-preguntas-frecuentes-ninos .views-row .views-field-title a {
    color: white;
    text-decoration: none; }

