@import "variables";
@import "functions";
@import "mixins";

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	.ams-flex-container {
		display: flex;
		flex-direction: row;
	}

	.page-home .ams-front-panel h2 {
		background-color: #ff8000;
		color: #fff;
	}
	#wrap {
		margin-top: 20px;
		margin-bottom: 0;
	}
	.page-home .ams-front-panel .pane-content {
		margin: 100px 0 100px 0;
	}

	.ams-space-desktop-inner-top-xs {
		padding-top: 4px;
	}

	.ams-space-desktop-inner-right-xs {
		padding-right: 4px;
	}

	.ams-space-desktop-inner-bottom-xs {
		padding-bottom: 4px;
	}

	.ams-space-desktop-inner-left-xs {
		padding-left: 4px;
	}

	.ams-space-desktop-inner-xs {
		padding: 4px;
	}

	.ams-space-desktop-outer-top-xs {
		margin-top: 4px;
	}

	.ams-space-desktop-outer-right-xs {
		margin-right: 4px;
	}

	.ams-space-desktop-outer-bottom-xs {
		margin-bottom: 4px;
	}

	.ams-space-desktop-outer-left-xs {
		margin-left: 4px;
	}

	.ams-space-desktop-outer-xs {
		margin: 4px;
	}

	.ams-space-desktop-inner-top-s {
		padding-top: 8px;
	}

	.ams-space-desktop-inner-right-s {
		padding-right: 8px;
	}

	.ams-space-desktop-inner-bottom-s {
		padding-bottom: 8px;
	}

	.ams-space-desktop-inner-left-s {
		padding-left: 8px;
	}

	.ams-space-desktop-inner-s {
		padding: 8px;
	}

	.ams-space-desktop-outer-top-s {
		margin-top: 8px;
	}

	.ams-space-desktop-outer-right-s {
		margin-right: 8px;
	}

	.ams-space-desktop-outer-bottom-s {
		margin-bottom: 8px;
	}

	.ams-space-desktop-outer-left-s {
		margin-left: 8px;
	}

	.ams-space-desktop-outer-s {
		margin: 8px;
	}

	.ams-space-desktop-inner-top-m {
		padding-top: 16px;
	}

	.ams-space-desktop-inner-right-m {
		padding-right: 16px;
	}

	.ams-space-desktop-inner-bottom-m {
		padding-bottom: 16px;
	}

	.ams-space-desktop-inner-left-m {
		padding-left: 16px;
	}

	.ams-space-desktop-inner-m {
		padding: 16px;
	}

	.ams-space-desktop-outer-top-m {
		margin-top: 16px;
	}

	.ams-space-desktop-outer-right-m {
		margin-right: 16px;
	}

	.ams-space-desktop-outer-bottom-m {
		margin-bottom: 16px;
	}

	.ams-space-desktop-outer-left-m {
		margin-left: 16px;
	}

	.ams-space-desktop-outer-m {
		margin: 16px;
	}

	.ams-space-desktop-inner-top-l {
		padding-top: 24px;
	}

	.ams-space-desktop-inner-right-l {
		padding-right: 24px;
	}

	.ams-space-desktop-inner-bottom-l {
		padding-bottom: 24px;
	}

	.ams-space-desktop-inner-left-l {
		padding-left: 24px;
	}

	.ams-space-desktop-inner-l {
		padding: 24px;
	}

	.ams-space-desktop-outer-top-l {
		margin-top: 24px;
	}

	.ams-space-desktop-outer-right-l {
		margin-right: 24px;
	}

	.ams-space-desktop-outer-bottom-l {
		margin-bottom: 24px;
	}

	.ams-space-desktop-outer-left-l {
		margin-left: 24px;
	}

	.ams-space-desktop-outer-l {
		margin: 24px;
	}

	.ams-space-desktop-inner-top-xl {
		padding-top: 32px;
	}

	.ams-space-desktop-inner-right-xl {
		padding-right: 32px;
	}

	.ams-space-desktop-inner-bottom-xl {
		padding-bottom: 32px;
	}

	.ams-space-desktop-inner-left-xl {
		padding-left: 32px;
	}

	.ams-space-desktop-inner-xl {
		padding: 32px;
	}

	.ams-space-desktop-outer-top-xl {
		margin-top: 32px;
	}

	.ams-space-desktop-outer-right-xl {
		margin-right: 32px;
	}

	.ams-space-desktop-outer-bottom-xl {
		margin-bottom: 32px;
	}

	.ams-space-desktop-outer-left-xl {
		margin-left: 32px;
	}

	.ams-space-desktop-outer-xl {
		margin: 32px;
	}

	.ams-space-desktop-inner-top-2xl {
		padding-top: 40px;
	}

	.ams-space-desktop-inner-right-2xl {
		padding-right: 40px;
	}

	.ams-space-desktop-inner-bottom-2xl {
		padding-bottom: 40px;
	}

	.ams-space-desktop-inner-left-2xl {
		padding-left: 40px;
	}

	.ams-space-desktop-inner-2xl {
		padding: 40px;
	}

	.ams-space-desktop-outer-top-2xl {
		margin-top: 40px;
	}

	.ams-space-desktop-outer-right-2xl {
		margin-right: 40px;
	}

	.ams-space-desktop-outer-bottom-2xl {
		margin-bottom: 40px;
	}

	.ams-space-desktop-outer-left-2xl {
		margin-left: 40px;
	}

	.ams-space-desktop-outer-2xl {
		margin: 40px;
	}

	.ams-space-desktop-inner-top-3xl {
		padding-top: 48px;
	}

	.ams-space-desktop-inner-right-3xl {
		padding-right: 48px;
	}

	.ams-space-desktop-inner-bottom-3xl {
		padding-bottom: 48px;
	}

	.ams-space-desktop-inner-left-3xl {
		padding-left: 48px;
	}

	.ams-space-desktop-inner-3xl {
		padding: 48px;
	}

	.ams-space-desktop-outer-top-3xl {
		margin-top: 48px;
	}

	.ams-space-desktop-outer-right-3xl {
		margin-right: 48px;
	}

	.ams-space-desktop-outer-bottom-3xl {
		margin-bottom: 48px;
	}

	.ams-space-desktop-outer-left-3xl {
		margin-left: 48px;
	}

	.ams-space-desktop-outer-3xl {
		margin: 48px;
	}

	.ams-space-desktop-inner-top-4xl {
		padding-top: 56px;
	}

	.ams-space-desktop-inner-right-4xl {
		padding-right: 56px;
	}

	.ams-space-desktop-inner-bottom-4xl {
		padding-bottom: 56px;
	}

	.ams-space-desktop-inner-left-4xl {
		padding-left: 56px;
	}

	.ams-space-desktop-inner-4xl {
		padding: 56px;
	}

	.ams-space-desktop-outer-top-4xl {
		margin-top: 56px;
	}

	.ams-space-desktop-outer-right-4xl {
		margin-right: 56px;
	}

	.ams-space-desktop-outer-bottom-4xl {
		margin-bottom: 56px;
	}

	.ams-space-desktop-outer-left-4xl {
		margin-left: 56px;
	}

	.ams-space-desktop-outer-4xl {
		margin: 56px;
	}

	.ams-space-desktop-inner-top-5xl {
		padding-top: 64px;
	}

	.ams-space-desktop-inner-right-5xl {
		padding-right: 64px;
	}

	.ams-space-desktop-inner-bottom-5xl {
		padding-bottom: 64px;
	}

	.ams-space-desktop-inner-left-5xl {
		padding-left: 64px;
	}

	.ams-space-desktop-inner-5xl {
		padding: 64px;
	}

	.ams-space-desktop-outer-top-5xl {
		margin-top: 64px;
	}

	.ams-space-desktop-outer-right-5xl {
		margin-right: 64px;
	}

	.ams-space-desktop-outer-bottom-5xl {
		margin-bottom: 64px;
	}

	.ams-space-desktop-outer-left-5xl {
		margin-left: 64px;
	}

	.ams-space-desktop-outer-5xl {
		margin: 64px;
	}
	.ams-nospace-desktop-inner-top {
		padding-top: 0;
	}

	.ams-nospace-desktop-inner-right {
		padding-right: 0;
	}

	.ams-nospace-desktop-inner-bottom {
		padding-bottom: 0;
	}

	.ams-nospace-desktop-inner-left {
		padding-left: 0;
	}

	.ams-nospace-desktop-inner {
		padding: 0;
	}

	.ams-nospace-desktop-outer-top {
		margin-top: 0;
	}

	.ams-nospace-desktop-outer-right {
		margin-right: 0;
	}

	.ams-nospace-desktop-outer-bottom {
		margin-bottom: 0;
	}

	.ams-nospace-desktop-outer-left {
		margin-left: 0;
	}

	.ams-nospace-desktop-outer {
		margin: 0;
	}

	.ams-div-half-width {
		width: 50%;
	}
	.ams-div-seventy-width {
		width: 70%;
	}

	.ams-width-desktop-400 {
		width: 400px;
	}

	.ams-height-desktop-400 {
		height: 400px;
	}

	.ams-cita-online .pane-content {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.ams-cita-online .pane-content .column1 {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex: 0 1 25%;
	}

	.ams-cita-online .pane-content svg {
		font-size: 200px;
	}

	.ams-cita-online .pane-content .column2 {
		flex-direction: column;
		flex: 0 0 45%;
	}

	.ams-cita-online h2 {
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: #ff8000;
	}

	div.resumenTexto,
	p.resumenTexto {
		line-height: 1.5em;
		text-align: left;
		font-size: 26px;
		padding: 15px 0;
		border-top: 2px solid #ff8000;
		border-bottom: 2px solid #ff8000;
		margin: 30px 0;
	}
	.curso_title_wrap {
		position: relative;
	}

	.curso_title_wrap .curso_title_0 {
		position: absolute;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fff;
		top: 6px;
		left: 4px;
		z-index: 9;
		padding: 0 20px;
		font-size: 28px;
		background-color: #ff8000;
	}

	.curso_title_wrap .curso_title {
		position: absolute;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fff;
		top: 82px;
		z-index: 9;
		padding: 0 20px;
		font-size: 48px;
	}
	.curso_title_wrap .curso_title_2 {
		color: #ff8000;
	}

	.ams-info-curso-wrap {
		background-color: #e5f2e7;
		padding: 20px;
	}
	.ams-info-curso ul {
		margin: 0;
	}

	.ams-desc-curso {
		margin-top: 20px;
	}

	.panel-curso .resp-tab-content,
	.panel-curso .resp-tab-active {
		border: 0;
	}

	.panel-curso .resp-tab-active {
		background-color: #ff8000;
		color: #fff;
	}

	.panel-curso .resp-tabs-list {
		display: flex;
		background-color: #f4f4f4;
	}

	.panel-curso .item-list ul {
		padding: 0;
	}

	/* Styles */

	.view-cursos-original .views-row img {
		max-width: 280px;
	}

	.view-curso-row .curso-wrap div.curso-details-wrap {
		flex: 1 0 50%;
	}

	.view-curso-row {
		padding: 1px;
		border-radius: 5px;
		background-color: #ff8000;
		&:not(:first-child) {
			margin-top: 60px;
		}
		.views-field-title a {
			font-size: 20px;
			text-decoration: none;
		}
		.curso-wrap {
			padding: 20px 20px;
			background-color: #fff;
			display: flex;
			.grid-container {
				display: grid;
				grid-gap: 10px;
			}

			.field-foto {
				grid-row-start: 1;
				grid-column-start: 1;
				grid-row-end: 1;
				grid-column-end: 1;
				order: 1;
				& img {
					margin-bottom: 10px;
					border-radius: 9px;
				}
			}
			.botones-cursos {
				grid-row-start: 2;
				grid-column-start: 2;
				grid-row-end: 2;
				grid-column-end: 2;
				order: 2;
			}
			.curso-details-wrap {
				grid-row-start: 1;
				grid-column-start: 2;
				grid-row-end: 1;
				grid-column-end: 2;
			}
			.curso-info-wrap {
				background-color: darkgray;
				padding: 10px;
				border-radius: 9px;
				font-size: 14px;
				max-width: 463px;
				grid-row-start: 1;
				grid-column-start: 1;
				grid-row-end: 1;
				grid-column-end: 1;

				& div:not(:first-child) {
					margin-top: 10px;
				}

				.views-field-content {
					color: #fff;
				}
			}
		}
	}

	.pane-preguntas-frecuentes-hombres .views-row {
		@include row-preguntas-frecuentes(#007fff, #fff);
	}

	.pane-preguntas-frecuentes-mujeres .views-row {
		@include row-preguntas-frecuentes(#d4ff00, #000);
	}

	.pane-preguntas-frecuentes-ninos .views-row {
		@include row-preguntas-frecuentes(#ff0008, #fff);
	}

	.webform-client-form-65 {
		@include webform();
	}
	.webform-client-form-219 {
		padding: 0 40px;
		background-color: #fcfcfc;
		@include webform();
	}

	.consulta.pane-webform {
		padding: 40px 40px;
		background-color: #fcfcfc;
	}

	.page-node-65 {
		#footer-wrap {
			position: fixed;
			width: 100%;
			bottom: 0;
		}
	}

	.block-panels-mini-telefono-consulta {
		display: none;
	}

	.node-profesor {
		.article.content {
			display: flex;
			.field-name-field-foto {
				flex: 0 0 auto;
			}
			&:not(:first-child) {
				margin-top: 40px;
			}
			.group-profesor-nombre-desc {
				margin-left: 20px;
				display: flex;
				flex-direction: column;
				flex: 0 0 50%;
				.field-name-field-nombre-profesor {
					font-weight: bold;
				}
			}
		}
	}

	body.node-type-article {
		background-color: #eef0f1;
		#main {
			background-color: #eef0f1;
		}
	}

	.main-content {
		.content-wrap {
			padding: 60px;
			border: 1px solid #ccc;
			border-radius: 5px;
			font-family: "Helvetica", serif;
			background-color: #fff;
		}
		.ams_aside {
			.relatedContent,
			.lastBlogEntries,
			#block-panels-mini-mini-panel-cursos {
				padding: 20px;
				border: 1px solid #ccc;
				border-radius: 5px;
				margin-bottom: 20px;
				background-color: #f9fafa;
			}
		}
	}
	.contact_info_wrap {
		background-color: #ff8000;
		font-size: 0.75em;
		color: black;
		display: flex;
		align-items: center;
		padding: 0 20px;
		justify-content: flex-end;
		flex: 1 1 auto;
	}

	.contact_info ul {
		margin: 0;
		font-family: "open-sans", sans-serif;
	}
	.contact_info ul li {
		display: inline-block;
		padding: 5px 5px;
	}

	.contact_info ul li .svg-inline--fa {
		padding-right: 5px;
	}

	.contact_info ul li:last-child {
		border-right: none;
		padding-right: 0;
	}

	.site-header {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
	}

	.site-navigation-wrap {
		display: flex;
		padding-left: 20px;
		align-items: center;
	}
	#preface-wrap {
		margin-bottom: 25px;
		background-color: #fff;
	}

	.view-curso-row {
		& .views-field-descripcion,
		& .views-field-custom-message-1 {
			margin-top: 16px;
		}
	}
}

@media only screen and (max-width: 959px) {
	a#navigation-toggle {
		display: block;
	}
	#site-navigation #main-menu > ul {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {
	.page-formacion-cursos #content-wrap {
		background-color: #ff8000;
		padding: 50px;
	}

	.page-formacion-cursos .pagina-cursos-descripcion {
		color: #fff;
		line-height: 2;
		font-weight: bold;
	}
	.page-formacion-cursos .curso-details-wrap {
		line-height: 2;
		font-weight: bold;
	}

	.ams-flex-container {
		display: flex;
		flex-direction: row;
	}
	.main-content {
		.content-wrap {
			.page-title {
				font-weight: 800;
				line-height: 60px;
				font-size: 48px;
			}
		}
		.article.content {
			p {
				font-weight: 400;
				line-height: 30px;
				font-size: 20px;
			}

			h2 {
				font-weight: 700;
				line-height: 31px;
				font-size: 25px;
			}
		}
	}
}
