@import "variables";
@import "functions";
@import "mixins";
/* All Responsive
================================================== */
a#navigation-toggle {
	height: 55px;
	line-height: 55px;
	float: none;
	margin: 0;
	cursor: pointer;
	color: #000;
	padding-left: 35px;
	font-weight: 600;
	position: relative;
	z-index: 9;
	text-decoration: none !important;
	display: none;
}
a#navigation-toggle .fa {
	margin-right: 10px;
}
#navigation-toggle {
	color: #fff;
}
#navigation-toggle:hover {
	color: #fff;
}
#sidr-main {
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	width: 320px;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 13px;
	background: #000;
	color: #fff;
}
#sidr-main {
	padding: 50px 30px 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.sidr.right {
	left: auto;
	right: -320px;
}
.sidr.left {
	left: -320px;
	right: auto;
}
#sidr-main a {
	color: #707070;
}
#sidr-main a:hover {
	color: #fff;
}
#sidr-main ul a {
	display: block;
	border-bottom: 1px solid #222;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 8px 0;
}
#sidr-main ul li ul {
	margin-left: 0;
	margin: 0;
}
#sidr-main ul li ul li a {
	padding-left: 10px;
}
#sidr-main ul li ul li li a {
	padding-left: 20px;
}
#sidr-main ul li ul li li li a {
	padding-left: 30px;
}
#sidr-main ul li ul li a:before {
	content: "\f0da";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-family: "FontAwesome";
	color: #333;
	margin-right: 10px;
}
.sidr-class-toggle-sidr-close:before {
	font-size: 16px;
	position: absolute;
	top: 15px;
	left: 30px;
	content: "\f00d";
	font-family: "FontAwesome";
	color: #fff;
	margin: 0;
}

#block-views-slideshow-block {
	margin-bottom: 30px !important;
}
#logo img {
	height: 60px;
	width: auto;
}
.curso-wrap .curso-details-wrap div.btnDefault {
	padding: 10px;
	font-weight: normal;
	font-size: 18px;
	display: inline-block;

	border: 1px solid $color-brand;
	background-color: #fff;
	text-decoration: none;
}

.curso-wrap .curso-details-wrap div.btnDefault:hover {
	cursor: pointer;
	color: #fff !important;
	background-color: $color-brand;
	text-decoration: none;
}

.curso-wrap .curso-details-wrap div.btnDefault a {
	color: $color-brand !important;
}

.curso-wrap .curso-details-wrap div.btnDefault a:hover {
}

.a2a_button_google_plus {
	display: none !important;
}

.pane-webform-client-block-208 h2 {
	display: none;
}
.page-home .ams-front-panel h2 {
	background-color: $color-brand;
	color: #fff;
}

.ams-div-full-width {
	width: 100%;
}
.ams-fontcolor-brand {
	color: $font-color-brand;
}
.ams-background-color-primary {
	background-color: $color-brand;
}

.ams-background-color-02 {
	background-color: #ededed;
}
.ams-text-size- .ams-text-light {
	font-weight: 300;
}

.ams-text-nowrap {
	white-space: nowrap;
}

.ams-text-ellipsis,
.ams-mobile-input-group .ams-mobile-input + .ams-mobile-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ams-button-div {
	border: 1px solid $color-brand;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.2px;
	display: inline-block;
	padding: 17px 24px;
	border-radius: 2px;
	background-color: #fff;
}

.ams-button-div a {
	color: $color-brand;
	text-decoration: none;
}

.ams-button-div:hover {
	background-color: $color-brand;
}

.ams-button-div:hover a {
	color: #fff;
}
.ams-text-decoration-none:hover {
	text-decoration: none;
}
.ams-text-underline {
	text-decoration: underline;
}

.ams-text-xs {
	font-size: 11px;
	line-height: 1.4;
	font-weight: 400;
}

.ams-text-sm {
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
}

.ams-text-lg {
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
}

.ams-text-md {
	font-size: 14px;
	line-height: 1.4;
	font-weight: 400;
}

.ams-text-2lg {
	font-size: 18px;
	line-height: 1.4;
	font-weight: 400;
}

.ams-text-xl {
	font-size: 21px;
	line-height: 1.4;
	font-weight: 400;
}

.ams-text-2xl {
	font-size: 24px;
	line-height: 1.4;
	font-weight: 400;
}

.ams-text-2xlplus {
	font-size: 30px;
	line-height: 1;
	font-weight: 400;
}

.ams-text-line-through {
	text-decoration: line-through;
}

.ams-text-left {
	text-align: left;
}

.ams-text-right {
	text-align: right;
}

.ams-text-center {
	text-align: center;
}

.ams-text-capitalize {
	text-transform: capitalize;
}

.ams-text-lowercase {
	text-transform: lowercase;
}

.ams-text-uppercase {
	text-transform: uppercase;
}

.ams-text-oblique {
	font-style: oblique;
}

.ams-text-italic {
	font-style: italic;
}

.ams-text-primary {
	color: $color-brand;
}

.ams-text-primary-dark {
	color: #003399;
}

.ams-text-primary-light {
	color: #e8ecfb;
}

.ams-text-secondary {
	color: #ffcc00;
}

.ams-text-secondary-dark {
	color: #ffcc00;
}

.ams-text-secondary-light {
	color: #ffcc00;
}

.ams-text-info {
	color: #3398d9;
}

.ams-text-info-dark {
	color: #366080;
}

.ams-text-info-light {
	color: #d4eaf7;
}

.ams-text-focal-point {
	color: #198cfb;
}

.ams-text-negative {
	color: #f01c3d;
}

.ams-text-negative-dark {
	color: #9b0000;
}

.ams-text-negative-light {
	color: #fde7ea;
}

.ams-text-positive {
	color: #1cb670;
}

.ams-text-positive-dark {
	color: #3d8f5d;
}

.ams-text-positive-light {
	color: #e6f5e6;
}

.ams-text-warning {
	color: #ff9600;
}

.ams-text-warning-dark {
	color: #dc5f0b;
}

.ams-text-warning-light {
	color: #ffeacc;
}

.ams-text-action {
	color: #1e44d5;
}

.ams-text-mono-color-01 {
	color: #000000;
}

.ams-text-mono-color-02 {
	color: #333333;
}

.ams-text-mono-color-03 {
	color: #666666;
}

.ams-text-mono-color-04 {
	color: #888888;
}

.ams-text-mono-color-05 {
	color: #aaaaaa;
}

.ams-text-mono-color-06 {
	color: #cccccc;
}

.ams-text-mono-color-07 {
	color: #e7e7e7;
}

.ams-text-mono-color-08 {
	color: #f5f5f5;
}

.ams-text-mono-color-09 {
	color: #ffffff;
}

.ams-text-condensed {
	line-height: 1;
}
.ams-text-notcondensed {
	line-height: 1.5;
}

.ams-flex-container-row {
	display: flex;
	flex-direction: row;
	margin-right: -10px;
	margin-left: -10px;
	align-items: center;
	flex-wrap: nowrap;
}

.ams-flex-container-column {
	display: flex;
	flex-direction: column;
	margin-top: -10px;
	margin-bottom: -10px;
	align-items: center;
	flex-wrap: nowrap;
}

.ams-flex-item {
	flex: auto;
}
.ams-flex-container-row > .ams-flex-item {
	max-width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	vertical-align: middle;
}
.ams-flex-container-column > .ams-flex-item {
	max-height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	vertical-align: middle;
}

.ams-flex-container-align-start {
	align-items: flex-start;
}

.ams-flex-container-align-end {
	align-items: flex-end;
}

.ams-flex-container-align-baseline {
	align-items: baseline;
}

.ams-flex-container-align-stretch {
	align-items: stretch;
}

.ams-flex-item-align-start {
	align-self: flex-start;
}

.ams-flex-item-align-center {
	align-self: center;
}

.ams-flex-item-align-end {
	align-self: flex-end;
}

.ams-flex-item-align-baseline {
	align-self: baseline;
}

.ams-flex-item-align-stretch {
	align-self: stretch;
}

.ams-flex-fixbug3 {
	display: flex;
	margin-right: -10px;
	margin-left: -10px;
}
.ams-flex-fixbug3 > .ams-flex-container-row {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.ams-flex-container-row-three-cols {
	& .column {
		flex: 0 1 27%;
		& img {
			width: 100%;
		}
	}
}

.ams-flex-container-justify-start {
	justify-content: flex-start;
}

.ams-flex-container-justify-center {
	justify-content: center;
}

.ams-flex-container-justify-end {
	justify-content: flex-end;
}

.ams-flex-container-justify-around {
	justify-content: space-around;
}

.ams-flex-container-justify-between {
	justify-content: space-between;
}

.ams-flex-container-row.ams-flex-container-gutter-sm {
	margin-right: -5px;
	margin-left: -5px;
}

.ams-flex-container-row > .ams-flex-item-gutter-sm,
.ams-flex-container-row.ams-flex-container-gutter-sm > .ams-flex-item {
	padding-right: 5px;
	padding-left: 5px;
}

.ams-flex-container-row.ams-flex-container-gutter-lg {
	margin-right: -20px;
	margin-left: -20px;
}

.ams-flex-container-row > .ams-flex-item-gutter-lg,
.ams-flex-container-row.ams-flex-container-gutter-lg > .ams-flex-item {
	padding-right: 20px;
	padding-left: 20px;
}

.ams-flex-container-row.ams-flex-container-nogutter {
	margin-right: 0;
	margin-left: 0;
}

.ams-flex-container-row > .ams-flex-item-nogutter,
.ams-flex-container-row.ams-flex-container-nogutter > .ams-flex-item {
	padding-left: 0;
	padding-right: 0;
}

.ams-flex-container-column.ams-flex-container-gutter-sm {
	margin-top: -5px;
	margin-bottom: -5px;
}

.ams-flex-container-column > .ams-flex-item-gutter-sm,
.ams-flex-container-column.ams-flex-container-gutter-sm > .ams-flex-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.ams-flex-container-column.ams-flex-container-gutter-lg {
	margin-top: -20px;
	margin-bottom: -20px;
}

.ams-flex-container-column > .ams-flex-item-gutter-lg,
.ams-flex-container-column.ams-flex-container-gutter-lg > .ams-flex-item {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ams-flex-container-column.ams-flex-container-nogutter {
	margin-top: 0;
	margin-bottom: 0;
}

.ams-flex-container-column > .ams-flex-item-nogutter,
.ams-flex-container-column.ams-flex-container-nogutter > .ams-flex-item {
	padding-top: 0;
	padding-bottom: 0;
}

.ams-flex-container-squared > .ams-flex-item {
	flex-basis: 0;
	flex-grow: 1;
}

.ams-flex-container-wrap {
	flex-wrap: wrap;
}

.ams-flex-item-sm {
	width: auto;
	flex-basis: auto;
	flex-grow: 0;
}

.ams-flex-item-order-1 {
	order: 1;
}

.ams-flex-item-order-2 {
	order: 2;
}

.ams-flex-item-order-3 {
	order: 3;
}

.ams-flex-item-order-4 {
	order: 4;
}

.ams-flex-item-order-5 {
	order: 5;
}

.ams-flex-item-order-6 {
	order: 6;
}

.ams-flex-item-order-7 {
	order: 7;
}

.ams-flex-item-order-8 {
	order: 8;
}

.ams-flex-item-order-9 {
	order: 9;
}

.ams-flex-item-order-10 {
	order: 10;
}

.ams-flex-item-order-11 {
	order: 11;
}

.ams-flex-item-order-12 {
	order: 12;
}

.ams-flex-item-first {
	order: -1;
}

.ams-flex-item-last {
	order: 13;
}

.ams-flex-container-row.ams-flex-container-reverse {
	flex-direction: row-reverse;
}

.ams-flex-container-column.ams-flex-container-reverse {
	flex-direction: column-reverse;
}

.ams-flex-item-span-1 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	width: 8.3333333333%;
	max-width: 8.3333333333%;
}

.ams-space-inner-top-xs {
	padding-top: 4px;
}

.ams-space-inner-right-xs {
	padding-right: 4px;
}

.ams-space-inner-bottom-xs {
	padding-bottom: 4px;
}

.ams-space-inner-left-xs {
	padding-left: 4px;
}

.ams-space-inner-xs {
	padding: 4px;
}

.ams-space-outer-top-xs {
	margin-top: 4px;
}

.ams-space-outer-right-xs {
	margin-right: 4px;
}

.ams-space-outer-bottom-xs {
	margin-bottom: 4px;
}

.ams-space-outer-left-xs {
	margin-left: 4px;
}

.ams-space-outer-xs {
	margin: 4px;
}

.ams-space-inner-top-s {
	padding-top: 8px;
}

.ams-space-inner-right-s {
	padding-right: 8px;
}

.ams-space-inner-bottom-s {
	padding-bottom: 8px;
}

.ams-space-inner-left-s {
	padding-left: 8px;
}

.ams-space-inner-s {
	padding: 8px;
}

.ams-space-outer-top-s {
	margin-top: 8px;
}

.ams-space-outer-right-s {
	margin-right: 8px;
}

.ams-space-outer-bottom-s {
	margin-bottom: 8px;
}

.ams-space-outer-left-s {
	margin-left: 8px;
}

.ams-space-outer-s {
	margin: 8px;
}

.ams-space-inner-top-m {
	padding-top: 16px;
}

.ams-space-inner-right-m {
	padding-right: 16px;
}

.ams-space-inner-bottom-m {
	padding-bottom: 16px;
}

.ams-space-inner-left-m {
	padding-left: 16px;
}

.ams-space-inner-m {
	padding: 16px;
}

.ams-space-outer-top-m {
	margin-top: 16px;
}

.ams-space-outer-right-m {
	margin-right: 16px;
}

.ams-space-outer-bottom-m {
	margin-bottom: 16px;
}

.ams-space-outer-left-m {
	margin-left: 16px;
}

.ams-space-outer-m {
	margin: 16px;
}

.ams-space-outer-top-mm {
	margin-top: 20px;
}

.ams-space-outer-right-mm {
	margin-right: 20px;
}

.ams-space-outer-bottom-mm {
	margin-bottom: 20px;
}

.ams-space-outer-left-mm {
	margin-left: 20px;
}

.ams-space-outer-mm {
	margin: 20px;
}

.ams-space-inner-top-l {
	padding-top: 24px;
}

.ams-space-inner-right-l {
	padding-right: 24px;
}

.ams-space-inner-bottom-l {
	padding-bottom: 24px;
}

.ams-space-inner-left-l {
	padding-left: 24px;
}

.ams-space-inner-l {
	padding: 24px;
}

.ams-space-outer-top-l {
	margin-top: 24px;
}

.ams-space-outer-right-l {
	margin-right: 24px;
}

.ams-space-outer-bottom-l {
	margin-bottom: 24px;
}

.ams-space-outer-left-l {
	margin-left: 24px;
}

.ams-space-outer-l {
	margin: 24px;
}

.ams-space-inner-top-xl {
	padding-top: 32px;
}

.ams-space-inner-right-xl {
	padding-right: 32px;
}

.ams-space-inner-bottom-xl {
	padding-bottom: 32px;
}

.ams-space-inner-left-xl {
	padding-left: 32px;
}

.ams-space-inner-xl {
	padding: 32px;
}

.ams-space-outer-top-xl {
	margin-top: 32px;
}

.ams-space-outer-right-xl {
	margin-right: 32px;
}

.ams-space-outer-bottom-xl {
	margin-bottom: 32px;
}

.ams-space-outer-left-xl {
	margin-left: 32px;
}

.ams-space-outer-xl {
	margin: 32px;
}

.ams-space-inner-top-2xl {
	padding-top: 40px;
}

.ams-space-inner-right-2xl {
	padding-right: 40px;
}

.ams-space-inner-bottom-2xl {
	padding-bottom: 40px;
}

.ams-space-inner-left-2xl {
	padding-left: 40px;
}

.ams-space-inner-2xl {
	padding: 40px;
}

.ams-space-outer-top-2xl {
	margin-top: 40px;
}

.ams-space-outer-right-2xl {
	margin-right: 40px;
}

.ams-space-outer-bottom-2xl {
	margin-bottom: 40px;
}

.ams-space-outer-left-2xl {
	margin-left: 40px;
}

.ams-space-outer-2xl {
	margin: 40px;
}

.ams-space-inner-top-3xl {
	padding-top: 48px;
}

.ams-space-inner-right-3xl {
	padding-right: 48px;
}

.ams-space-inner-bottom-3xl {
	padding-bottom: 48px;
}

.ams-space-inner-left-3xl {
	padding-left: 48px;
}

.ams-space-inner-3xl {
	padding: 48px;
}

.ams-space-outer-top-3xl {
	margin-top: 48px;
}

.ams-space-outer-right-3xl {
	margin-right: 48px;
}

.ams-space-outer-bottom-3xl {
	margin-bottom: 48px;
}

.ams-space-outer-left-3xl {
	margin-left: 48px;
}

.ams-space-outer-3xl {
	margin: 48px;
}

.ams-space-inner-top-4xl {
	padding-top: 56px;
}

.ams-space-inner-right-4xl {
	padding-right: 56px;
}

.ams-space-inner-bottom-4xl {
	padding-bottom: 56px;
}

.ams-space-inner-left-4xl {
	padding-left: 56px;
}

.ams-space-inner-4xl {
	padding: 56px;
}

.ams-space-outer-top-4xl {
	margin-top: 56px;
}

.ams-space-outer-right-4xl {
	margin-right: 56px;
}

.ams-space-outer-bottom-4xl {
	margin-bottom: 56px;
}

.ams-space-outer-left-4xl {
	margin-left: 56px;
}

.ams-space-outer-4xl {
	margin: 56px;
}

.ams-space-inner-top-5xl {
	padding-top: 64px;
}

.ams-space-inner-right-5xl {
	padding-right: 64px;
}

.ams-space-inner-bottom-5xl {
	padding-bottom: 64px;
}

.ams-space-inner-left-5xl {
	padding-left: 64px;
}

.ams-space-inner-5xl {
	padding: 64px;
}

.ams-space-outer-top-5xl {
	margin-top: 64px;
}

.ams-space-outer-right-5xl {
	margin-right: 64px;
}

.ams-space-outer-bottom-5xl {
	margin-bottom: 64px;
}

.ams-space-outer-left-5xl {
	margin-left: 64px;
}

.ams-space-outer-5xl {
	margin: 64px;
}

.ams-nospace-inner-top {
	padding-top: 0;
}

.ams-nospace-inner-right {
	padding-right: 0;
}

.ams-nospace-inner-bottom {
	padding-bottom: 0;
}

.ams-nospace-inner-left {
	padding-left: 0;
}

.ams-nospace-inner {
	padding: 0;
}

.ams-nospace-outer-top {
	margin-top: 0;
}

.ams-nospace-outer-right {
	margin-right: 0;
}

.ams-nospace-outer-bottom {
	margin-bottom: 0;
}

.ams-nospace-outer-left {
	margin-left: 0;
}

.ams-nospace-outer {
	margin: 0;
}

.flexslider {
	border: 0 !important;
}
.ams-flex-display {
	display: flex;
}

.ams-text-align-justify {
	text-align: justify;
}

.ams-front-panel-notitle {
	padding: 40px 0px;
}

/***************** HOME PANELES ***************/

#mini-panel-home_section_suelo_pelvico_new {
}
#mini-panel-home_section_publicidad_cursos {
}
#mini-panel-home_section_suelo_pelvico_new .pane-content .column2 {
	flex: 1 0 50%;
}

#mini-panel-home_section_suelo_pelvico_new .pane-content .column1 {
	flex: 0 1 40%;
}
#mini-panel-home_section_cita_online h2 {
	padding: 40px 0px;
}

#mini-panel-home_section_quienes_somos_new .pane-content .content {
	color: $color-brand;
}
#mini-panel-home_section_origen_unidad_new {
	background-color: #fff;
}

#mini-panel-home_section_consulta_new {
	background-color: #fff;
}
%panel-basis {
	& .pane-content {
		display: flex;
		margin: 0px 0px;
		line-height: 1.4em;
	}

	& .pane-content p a {
		color: $color-brand;
		text-decoration: underline;
	}
	& .column1 p:last-child,
	.column2 p:last-child {
		margin: 0px;
	}

	& h2 {
		text-align: center;
		font-size: 25px;
		color: $color-brand;
	}
}
%panel-two-column-basis {
	@extend %panel-basis;
	& img {
		display: block;
	}
	& .pane-content {
		align-items: center;
		justify-content: space-between;
		text-align: justify;
		line-height: 1.6em;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

%panel-three-column-basis {
	@extend %panel-basis;
	& img {
		display: block;
	}
	& .pane-content {
		justify-content: space-between;
		text-align: justify;
		line-height: 1.6em;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
	}
}
%panel-three-column-basis-type1 {
	@extend %panel-three-column-basis;
	& .row1 {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	& .row1 p {
		margin-bottom: 0px;
	}
	& .row2 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	& .row2 .column {
		flex: 0 1 27%;
	}
}
%panel-two-column-1-1-basis {
	@extend %panel-two-column-basis;
	& .column1 {
		flex: 0 1 50%;
	}

	& .column2 {
		flex: 0 1 50%;
	}
}

%panel-two-column-2-1-basis {
	@extend %panel-two-column-basis;
	& .column1 {
		flex: 0 1 58%;
	}

	& .column2 {
		flex: 0 0 33%;
	}
}

@mixin flex-column($grow, $shrink, $width) {
	flex: $grow $shrink $width;
}

.panel-two-column-1-1 {
	@extend %panel-two-column-1-1-basis;
}

.panel-two-column-2-1 {
	@extend %panel-two-column-basis;
	& .column1 {
		@include flex-column(0, 1, 58%);
	}

	& .column2 {
		@include flex-column(0, 0, 33%);
	}
}

.panel-two-column-2-1-type1 {
	@extend %panel-two-column-basis;
	& .column1 {
		@include flex-column(0, 1, 50%);
	}

	& .column2 {
		@include flex-column(0, 0, 50%);
	}
}

.panel-two-column-2-type1 {
	@extend %panel-two-column-basis;
	& .pane-content {
		justify-content: space-between;
	}
	& .column1 {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	& .column2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1 0 20%;
	}
}

.panel-three-column-basis-type1 {
	@extend %panel-three-column-basis-type1;
}

.panel-two-column-2-1-reversed {
	@extend %panel-two-column-2-1-basis;
	& .pane-content {
		flex-direction: row-reverse;
	}
}

.panel-one-column {
	@extend %panel-basis;
	& .pane-content {
		justify-content: center;
		align-items: center;
	}
}

.panel-one-column-type1 {
	@extend %panel-basis;
	& .pane-content {
		justify-content: center;
		align-items: center;
	}
}

.marco {
	padding: 35px;
	min-width: 275px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #f6f6f6;
	text-align: left;
}
.marco p {
	text-align: center;
	margin-top: 40px !important;
}
.marco p a {
	text-decoration: none !important;
}

#panel-quienes-somos {
	& .pane-content {
		text-align: center;
		padding: 0px 0px !important;

		justify-content: space-between;

		&:before,
		&:after {
			content: "";
			display: block;
		}
	}

	& .pane-content .column1,
	.pane-content .column2 {
		flex-basis: auto;
	}

	& .content {
		margin-top: 20px;
	}

	& img {
		margin: auto;
	}
}

.main-content {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	.content-wrap {
		flex: 1 0 340px;
		margin-right: 40px;
		height: fit-content;
	}
	.ams_aside {
		flex: 1 0 0px;
	}
}

#panel-origen-unidad img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 959px) {
	a#navigation-toggle {
		display: block;
	}
	#site-navigation #main-menu > ul {
		display: none;
	}
}

/* Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		max-width: 85%;
	}
	.left-content {
		width: 60%;
	}
	.sidebar-container {
		width: 36%;
	}
	#block-panels-mini-presentacion {
		padding: 0px;
	}
	.block-views-slideshow-block {
		display: none;
	}
}

/* Mobile (Portrait & Landscape)
================================================== */
@media only screen and (max-width: 767px) {
	a#navigation-toggle {
		padding-left: 0px;
	}
	.page-home h2 {
		font-size: 24px;
	}

	.home-section-panel .panels-flexible-region .ams-content {
		padding: 0px;
	}
	.home-section-panel .panels-flexible-region .ams-content p {
		font-size: 16px;
	}

	.home-section-panel .ams-header {
		font-size: 24px;
	}
	.home-section-panel img {
		margin: 10px 0;
	}
	.container {
		max-width: 100%;
		width: 100%;
	}
	.sidebar-container,
	.left-content {
		width: 100%;
	}
	.sidebar-container {
		border-top: 10px solid #eee;
	}
	.col {
		width: 100%;
		margin-left: 0;
		margin-bottom: 25px;
	}
	#wrap {
		margin-top: 0;
		margin-bottom: 0;
	}
	#header-social {
		clear: both;
		position: inherit;
		top: auto;
		right: auto;
		margin-top: 20px;
	}
	#mini-panel-spotlight {
		display: none;
	}

	div.resumenTexto.left {
		float: none;
		margin-left: 0;
		margin-right: 0px;
		text-align: left;
	}
	#mini-panel-unidad_suelo_pelvico .textBox.column1 {
		padding: 0px;
	}

	div.resumenTexto.right {
		float: none;
		margin-left: 0px;
		margin-right: 0;
		text-align: left;
	}

	#secondary {
		padding-top: 0px;
	}
	.container {
		padding: 0 10px !important;
	}
	.container img {
		padding: 0;
	}

	#contacto {
		display: none;
	}

	.quienes-somos-box {
		flex-wrap: wrap;
	}

	.quienes-somos-box .content {
		padding: 0px 10px;
	}
	.quienes-somos-box .imgBox {
		margin: auto;
	}

	#mini-panel-cita_online {
		display: none;
	}
	#img-unidad-suelo-pelvico {
		display: none;
	}
	#img-hospital-san-rafael {
		display: none;
	}

	#block-panels-mini-presentacion #mini-panel-presentacion > .panel-panel > div .imgBox {
		width: 50%;
		margin: auto;
	}

	#block-panels-mini-presentacion #mini-panel-presentacion > .panel-panel > div .contentBox {
		width: 100%;
		padding: 0px 10px;
	}

	#block-panels-mini-presentacion-nuevo,
	#block-panels-mini-publicidad-curso,
	#block-panels-mini-unidad-suelo-pelvico {
		padding: 0px;
	}

	#block-panels-mini-unidad-suelo-pelvico div .contentBox .textBox {
		padding-right: 0px;
	}
	.contact_info_wrap {
		display: none;
	}

	.quienes-somos-presentacion--wrapper {
		padding: 0;
	}
	#mini-panel-cursos_home {
		padding: 30px 0px !important;
	}

	#mini-panel-cursos_home .views-row {
		margin-bottom: 10px;
	}
	.panel-three-column-basis-type1 {
		& .pane-content .row2 {
			flex-direction: column;
		}
	}
}
/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sidr {
		width: 480px;
	}
	.sidr.right {
		right: -480px;
	}

	#block-views-slideshow-block {
		display: none;
	}

	#mini-panel-cita_online {
		display: none;
	}

	#img-hospital-san-rafael {
		display: none;
	}
}
