$version: '2.0';

// for components, debugging and extensions
.t-html-cc-ver {
  content: 'Telekom HTML Code Components v' + $version;
}

//DEV Naming Conventions: [optional:[component]-[variant]]-[[cssattib-base]-[cssattrib-property]]

$building-unit:                     12px;

$compile-grid:                      true;
$compile-grid-offsets:              true;
$compile-grid-hide-class:           true;
$compile-grid-show-class:           true;
$compile-grid-emphased-class:       true;

////// Grid //////

$grid-number-of-columns:            12;
$grid-container-padding:            0; // = 0 * $building-unit; // since this is a zero value we do not need the units
$grid-column-padding:               1 * $building-unit;
$grid-column-prefix:                'col-';
$grid-screen-sizes:                 (LARGE:l, EXTRA_LARGE:xl, MEDIUM:m, SMALL:s, EXTRA_SMALL:xs);

$grid-extra-small-min:              false;
$grid-extra-small-container-width:  false;

$grid-small-min:                    320;
$grid-small-container-width:        false;

$grid-medium-min:                   640;
$grid-medium-container-width:       false;

$grid-large-min:                    1024;
$grid-large-container-width:        1008;

$grid-extra-large-min:              1500;
$grid-extra-large-container-width:  1296;

// max values are calculated for gapless breakpoints without overlapping
$grid-extra-small-max:              ($grid-small-min - 1);
$grid-small-max:                    ($grid-medium-min - 1);
$grid-medium-max:                   ($grid-large-min - 1);
$grid-large-max:                    ($grid-extra-large-min - 1);
$grid-extra-large-max:              false;

// 1 -> $grid-screen-sizes KEY
// 2 -> min-width
// 3 -> max-width
// 4 -> fixed container width
// 5 -> sizes that will be overriden
$grid-settings:                     ((LARGE, false, false, $grid-large-container-width, (LARGE)), (EXTRA_LARGE, $grid-extra-large-min, false, $grid-extra-large-container-width, (LARGE, EXTRA_LARGE)), (MEDIUM, false, $grid-medium-max, $grid-medium-container-width, (LARGE, MEDIUM)), (SMALL, false, $grid-small-max, $grid-small-container-width, (LARGE, MEDIUM, SMALL)), (EXTRA_SMALL, false, $grid-extra-small-max, $grid-extra-small-container-width, (LARGE, MEDIUM, SMALL, EXTRA_SMALL)));
$grid-settings-size-exclusive:      ((EXTRA_LARGE, $grid-extra-large-min, false), (MEDIUM, $grid-medium-min, $grid-medium-max), (SMALL, $grid-small-min, $grid-small-max), (EXTRA_SMALL, false, $grid-extra-small-max));

////// Z-Stacking //////

////// 0 - 5k for non Componentens
////// For User Stuff

////// 5k - 6K Standard Componentes
$z-index-totop:                     5000;

////// 6K - 7K Modal Window
$z-index-modal:                     6000;

////// 7K - 8K Notifications Windows && Errors

////// 9k - UI Elements
$z-index-select-options:            9000;

////// Colors //////

$color-bright:                      #fff;

$color-positive:                    #6bb324;
$color-warning:                     #dbad39;
$color-negative:                    #d90000;
$color-brand:                       #e20074;
$color-inactive:                    #d0d0d0;
$color-function:                    #0ca1dc;
$color-highlight:                   #ff0;

$color-text:                        #383838;
$color-text-bright:                 hsv-lighten($color-text, 24%, true);

$color-border:                      #b2b2b2;
$color-border-bright:               #dcdcdc;

$color-element-background:          hsv-darken($color-bright, 7%, true); // #ededed;
$color-element-border:              $color-border;

$color-element-devider:             #b2b2b2;

////// Animation //////
$transition-function:               cubic-bezier(.445, .05, .55, .95);
$transition-time-out:               150ms;
$transition-time-in:                100ms;

////// Scaffolding //////
$background-color-regular:          #fff; // used for transparency calculations

////// Typography //////
$font-family-dtag:                  'TeleGrotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-icons:                 'Telekom-Icon';
$font-family-regular:               $font-family-dtag;

$font-size-regular:                 18px; // 100%
$font-size-xsmall:                  ceil($font-size-regular *  .75); // ~14px
$font-size-small:                   ceil($font-size-regular *  .83); // ~15px
$font-size-large:                   ceil($font-size-regular * 1.16); // ~21px
$font-size-xlarge:                  ceil($font-size-regular * 1.33); // ~24px
$font-size-xxlarge:                 ceil($font-size-regular * 1.5);  // ~27px

$font-size-headline-h1:             ceil($font-size-regular * 2);    // 36px
$font-size-headline-h2:             ceil($font-size-regular * 1.5);  // ~27px
$font-size-headline-h3:             ceil($font-size-regular * 1.33); // ~24px
$font-size-headline-h4:             ceil($font-size-regular * 1.16); // ~21px
$font-size-headline-h5:             $font-size-regular;              // 100%
$font-size-headline-h6:             ceil($font-size-regular* .83);   // ~15px


$font-size-headline-marketing-elmt-l:	ceil($font-size-regular * 2.66);// 48px
$font-size-headline-marketing-elmt-xl:	ceil($font-size-regular * 3.33);// 60px



$line-height-ratio:                 1.2; // http://jsfiddle.net/LkraY/1/
$line-height-regular:               $line-height-ratio;
$line-height-extracted:             floor($font-size-regular * $line-height-ratio); // ~21px
$line-height-extracted-small:       floor($font-size-xsmall * $line-height-ratio);
$line-height-extracted-large:       floor($font-size-large * $line-height-ratio);

$font-weight-semibold:              600;

$font-color-regular:                $color-text;

$font-color-positive:               $color-positive;
$font-color-warning:                $color-warning;
$font-color-negative:               $color-negative;
$font-color-brand:                  $color-brand;
$font-color-inactive:               hsv-darken($background-color-regular, 10%, true);

$font-color-link:                   #0090c4;
$font-color-link-hover:             hsv-darken($font-color-link, 7%, true); // -7%
$font-color-link-active:            hsv-darken($font-color-link, 15%, true); // -15%
$font-color-link-focus:             hsv-darken($font-color-link, 21%, true); // -21%


////// Building Unit Calculations //////

// Margins and Paddings
//  ________
//            <-- $font-capline-top-ratio
//    |__|
//    |  |
//  ________  <-- $font-baseline-bottom-ratio

// Variables are used by functions: capline-pixels(), baseline-pixels()
$font-bounding-height:              480px; // value based on font-size 400px and line-height: 1.20 with TeleGrotesk = 500px
$font-capline-top-ratio:            120px / $font-bounding-height; // 120px = value based on vertical-align: baseline and font-bounding-height: 480px
$font-baseline-bottom-ratio:        93px / $font-bounding-height; // 93px = value based on vertical-align: baseline and font-bounding-height: 480px

// Box Paddings
$bu-padding-large:                  building-unit-box-padding($line-height-extracted-large, 4, 2); // vertical: (4 BU - 1px Border) - Calculated Line Height, horizontal: 2BU - 1px font-padding
$bu-padding-regular:                building-unit-box-padding($line-height-extracted, 3, 2); // vertical: (3 BU - 1px Border) - Calculated Line Height, horizontal: 2BU - 1px font-padding
$bu-padding-small:                  building-unit-box-padding($line-height-extracted-small, 2.5, 2); // vertical: (2.5 BU - 1px Border) - Calculated Line Height, horizontal: 2BU - 1px font-padding
$bu-padding-minimal:                building-unit-box-padding($line-height-extracted, 3, 1);
$bu-border-radius-regular:          floor($building-unit / 3);
$bu-border-radius-large:            floor($building-unit / 2);
$bu-border-radius-small:            floor($building-unit / 4);

////// HRULE //////
$hr-border-color:                   $color-border-bright;

////// Headings //////
$heading-font-weight:               normal;
$heading-margin-top:                2 * $building-unit;
$heading-margin-bottom:             1 * $building-unit;

$heading-border-color:              $color-border;

////// Mark //////
$marked-padding:                    0 .25em;
$marked-font-color:                 $color-text;
$marked-bgr-color:                  $color-highlight;

////// Definitions and Abbrevations //////
$dfn-background-image:              url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAAGElEQVQIW2O0O/DhPwMQHHIQYATRjOgCAKclCAMmY8YrAAAAAElFTkSuQmCC');
                                    // @see: www.patternify.com for more

////// (Un)oredered Lists //////
$list-unordered-margin:             $building-unit 0 0 0;
$list-unordered-padding:            0 0 0 18px;
$list-unordered-indent:             $building-unit;

$list-ordered-margin:               $building-unit 0 0 0;
$list-ordered-padding:              0 0 0 20px;
$list-ordered-indent:               $building-unit;


////// Description Lists //////
$description-list-breakpoint:       640px;
$component-offset-horizontal:       160px;


////// Price Labels //////
$price-cent-factor:                 .666;
$price-font-size-regular:           27px; // 100%
$price-font-size-large:             ceil($price-font-size-regular * 1.11); // ~30px
$price-font-size-xlarge:            ceil($price-font-size-regular * 1.33); // ~36px

$price-font-size-expired:           28px;
$price-font-middle-line:            .6em;

////// Quotes //////
$quote-font-size:                   $font-size-regular;
$quote-font-size-author:            $font-size-small;

$quote-author-space:                .25em;

$quote-figure-margin:               $building-unit 0 0 0;
$quote-figure-padding:              0 0 0 $building-unit;
$quote-figure-border-left:          1px solid $color-border-bright;

///// Address //////
$address-font-ratio:                84%;
$address-section-space:             .25em;
$address-label-offset:              40px;


////// Tables //////
$table-padding:                     $bu-padding-minimal; // ~6px 12px
$table-padding-small:               $bu-padding-small; // ~5px 12px

$table-caption-font-size:           $font-size-xlarge; // ~24px

$table-row-border-bottom:           1px solid $color-border-bright;

$table-header-border-bottom:        1px solid $color-border;
$table-footer-border-top:           1px double $color-border; // double wins over solid from $table-row-border-bottom
$table-footer-border-bottom:        1px solid $color-border;

$table-font-color-hover:            hsv-darken($font-color-regular, 7%, true);

$table-font-color-positive:         hsv-darken($font-color-positive, 10%, true);
$table-font-color-warning:          hsv-darken($font-color-warning , 10%, true);
$table-font-color-negative:         hsv-darken($font-color-negative, 10%, true);
$table-font-color-brand:            $color-bright;
$table-font-color-inactive:         $font-color-inactive;

$table-bgr-color-hover:             hsv-darken($background-color-regular, 12%, true);

$table-bgr-color-positive:          $color-positive;
$table-bgr-color-warning:           $color-warning;
$table-bgr-color-negative:          $color-negative;
$table-bgr-color-brand:             $color-brand; // brand has no fallback
$table-bgr-color-inactive:          transparent; // inactive has no fallback

$table-bgr-color-alpha:             .05;
$table-bgr-color-hover-alpha:       .2;

$table-gray-odd-bgr-color:          hsv-darken($background-color-regular, 5%, true);
$table-gray-odd-font-color:         $font-color-regular;

////// Forms //////
$input-padding:                     $bu-padding-minimal; // ~6px 12px
$input-border-radius:               $bu-border-radius-regular;

$input-min-height:                  $line-height-extracted + 6 + 6 + 1; // = line-height + padding-top + padding-bottom + border

$input-font-color:                  $font-color-regular;
$input-border-color:                $color-element-border;
$input-bgr-color:                   $color-bright;
$input-font-color-placeholder:      $color-text-bright;

$input-border-color-focus:          #66afe9;

$input-disabled-font-color:         hsv-lighten($input-font-color, 50%, true);
$input-disabled-border-color:       hsv-lighten($input-border-color, 14%, true);
$input-disabled-bgr-color:          $input-bgr-color;
$input-disabled-font-color-placeholder: hsv-lighten($input-font-color-placeholder, 50%, true);

////// Buttons //////
$button-padding:                    $bu-padding-regular; // ~6px 12px
$button-padding-small:              $bu-padding-small;
$button-padding-large:              $bu-padding-large;
$button-padding-minimal:            $bu-padding-minimal;

$button-icon-indent:                $building-unit;

$button-border-radius:              $bu-border-radius-regular;

$button-border-color-default:       $color-element-border;
$button-border-color-positive:      hsv-darken($color-positive, 15%, true);
$button-border-color-function:      hsv-darken($color-function, 15%, true);
$button-border-color-negative:      hsv-darken($color-negative, 15%, true);
$button-border-color-brand:         hsv-darken($color-brand, 15%, true);

////// Checkboxes | JS //////
$checkbox-check-color:              $color-positive;
$checkbox-border-color:             $color-element-border;
$checkbox-bgr-color:                $color-element-background;

$checkbox-disabled-check-color:     hsv-lighten($color-text, 50%, true);
$checkbox-disabled-border-color:    hsv-lighten($checkbox-border-color, 14%, true);
$checkbox-disabled-bgr-color:       hsv-lighten($checkbox-bgr-color, 5%, true);

////// Radios | JS //////
$radio-check-color:                 $color-brand;
$radio-border-color:                $color-element-border;
$radio-bgr-color:                   $color-element-background;

$radio-disabled-check-color:        hsv-lighten($color-text, 50%, true);
$radio-disabled-border-color:       hsv-lighten($radio-border-color, 14%, true);
$radio-disabled-bgr-color:          hsv-lighten($radio-bgr-color, 5%, true);

////// Selects | JS //////
$select-font-color:                 $font-color-regular;
$select-border-color:               $color-element-border;
$select-bgr-color:                  $color-element-background;

$select-disabled-font-color:        hsv-lighten($select-font-color, 50%, true);
$select-disabled-border-color:      hsv-lighten($select-border-color, 14%, true);
$select-disabled-bgr-color:         hsv-lighten($select-bgr-color, 5%, true);

////// Icons //////
$icon-frame-width:                  $building-unit * 4;
$icon-frame-height:                 $building-unit * 4;

////// Images //////
$image-tn-border-color:             $color-element-border;
$image-frame-width:                 $building-unit * 4;
$image-frame-height:                $building-unit * 4;

$image-frame-width-small:           38px;
$image-frame-height-small:          38px;

////// Content-Lists //////
$cl-border-color:                   $color-border-bright;

$cl-element-padding:                13px $building-unit;
$cl-element-bgr-color-focus:        hsv-darken($color-bright, 21%, true);
$cl-element-bgr-color-hover:        hsv-darken($color-bright, 7%, true);
$cl-element-bgr-color-active:       hsv-darken($color-bright, 15%, true);

$cl-element-font-color-brand:       $color-bright;
$cl-element-bgr-color-brand:        $color-brand;

///// Media //////
$media-padding:                     5px $building-unit 4px;
$media-min-height:                  38px;
$media-column-padding:              $building-unit;
$media-body-padding:                5px 0;

$media-hint-font-color:             $color-text-bright;
$media-hint-font-size:              $font-size-small;

////// Pager //////
$pager-background-color:            $background-color-regular;
$pager-border-color:                $color-element-border;
$pager-text-color:                  $color-text;

$pager-disabled-bgr-color:          hsv-lighten($color-element-background, 5%, true);
$pager-disabled-border-color:       hsv-lighten($pager-border-color, 14%, true);
$pager-disabled-text-color:         hsv-lighten($font-color-regular, 50%, true);

$pager-small-padding:               $button-padding-small;
$pager-small-font-size:             $font-size-small;

$pager-large-padding:               $button-padding-large;
$pager-large-font-size:             $font-size-large;

$pager-padding-minimal:             $bu-padding-minimal;

////// Breadcrumb //////
$breadcrumb-padding:                0;
$breadcrumb-margin:                 0;
$breadcrumb-color:                  $color-text-bright;
$breadcrumb-color-active:           $color-brand;
// $breadcrumb-separator:              '\bb'; // wait for a bug in sass compiler to fix the conversion to utf-8 value

////// Pagination //////
$pagination-width:                  $building-unit;
$pagination-height:                 $building-unit;
$pagination-gutter:                 $building-unit / 2;

$pagination-bgr-color:              $background-color-regular;
$pagination-border-color:           $color-element-border;

$pagination-active-bgr-color:       $color-brand;
$pagination-active-border-color:    hsv-darken($pagination-active-bgr-color, 15%, true);

$pagination-disabled-bgr-color:     $pagination-bgr-color;
$pagination-disabled-border-color:  hsv-lighten($pagination-border-color, 15%, true);

$pagination-width-small:            8px; // ~building-unit / 2 + 1px border on both sides
$pagination-height-small:           8px; // ~building-unit / 2 + 1px border on both sides
$pagination-gutter-small:           floor($building-unit / 4);

////// Badges //////
$badges-bgr-color:                  $color-element-background;
$badges-bgr-color-positive:         $color-positive;
$badges-bgr-color-warning:          $color-warning;
$badges-bgr-color-negative:         $color-negative;
$badges-bgr-color-function:         $color-function;
$badges-bgr-color-brand:            $color-brand;
$badges-bgr-color-dark:             $color-text;
$badges-font-color-normal:          $color-text;
$badges-font-color-bright:          $color-bright;
$badges-border-radius:              $bu-border-radius-small;

////// Notifications //////
$notification-bgr-color:            #eee; // todo?
$notification-border-color:         $color-element-border;
$notification-border-radius:        $bu-border-radius-large;
$notification-padding:              16px (2 * $building-unit) 22px; // 2 * $building-unit;
$notification-margin-bottom:        1.5 * $building-unit;

$notification-font-size:            $font-size-small;
$notification-heading-font-size:    $font-size-headline-h3;

$notification-close-button-color:   $color-text;
$notification-close-button-hover:   hsv-darken($notification-close-button-color, 7%, true); // -7%
$notification-close-button-active:  hsv-darken($notification-close-button-color, 15%, true); // -15%
$notification-close-button-focus:   hsv-darken($notification-close-button-color, 21%, true); // -21%

////// Modal //////

$modal-margin:                      $building-unit;
$modal-regular-margin:              (2 * $building-unit) auto;

$modal-padding:                     0;
$modal-border-radius:               $bu-border-radius-large;

$modal-content-bgr:                 $color-bright;

$modal-header-padding:              $building-unit;
$modal-body-padding:                $building-unit;
$modal-footer-padding:              $building-unit;

$modal-backdrop-bgr:                #000;
$modal-backdrop-opacity:            .8; // ~80%

$modal-header-border-color:         $color-element-border;
$modal-footer-border-color:         $color-element-border;

$modal-regular-width:               600px; // ~50 bu
$modal-small-width:                 480px; // ~40 bu
$modal-large-width:                 840px; // ~70 bu
